html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

html,
body {
  scroll-behavior: smooth;
}

.all_body {
  overflow: hidden;
}

.logo {
  width: 1200px;
  height: 220px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #dedede;
}
@media screen and (max-width: 1200px) {
  .logo {
    width: 100%;
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    height: auto;
    margin: 0;
    padding: 0 0 10px 10px;
    text-align: start;
  }
}
.logo a img {
  width: 130px;
  height: 160px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .logo a img {
    width: 30px;
    height: 40px;
  }
}
.logo .txt {
  padding-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .logo .txt {
    display: none;
  }
}
.logo .txt p {
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.logo .txt select {
  padding: 5px 0;
}
.logo .link {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .logo .link {
    display: none;
  }
}
.logo .link .website,
.logo .link .checkout {
  width: 96px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #97999b;
  color: #fff;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
}
.logo .link .website img,
.logo .link .checkout img {
  width: 18px;
  height: 20px;
  margin: 0 10px 0 0;
}
.logo .link .checkout {
  margin-left: 10px;
}
.logo .language {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo .language {
    width: 76px;
    height: 28px;
    margin: 30px 5px 5px 0;
    display: flex;
    position: absolute;
    right: 90px;
    bottom: 0;
  }
}
.logo .menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo .menu {
    width: 76px;
    height: 28px;
    margin: 30px 5px 5px 0;
    display: block;
    background: url(../img/online/menu.jpg) center center;
    border: 1px solid #000000;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
  }
}

.menu_item {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu_item.on {
    display: block;
  }
  .menu_item ul {
    animation: ii 0.5s forwards;
  }
  @keyframes ii {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu_item ul li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
  }
  @keyframes aa {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .menu_item ul li .item_llst {
    padding: 10px 0;
    display: none;
  }
  .menu_item ul li .item_llst p {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aa 0.5s forwards;
    font-weight: bolder;
    background-color: #97999b;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .menu_item ul li .item_llst p {
    animation: aaaa 0.5s forwards;
  }
}
@media screen and (max-width: 768px) {
  .menu_item ul li .item_llst p:hover {
    background-color: #a2d7f1;
  }
  .menu_item ul li:hover .item_llst {
    display: block;
  }
}

.menu_coin {
  width: 100%;
  display: flex;
  opacity: 0;
  animation: bbbb 0.5s 0.5s forwards;
}
@keyframes bbbb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu_coin a {
  width: 50%;
  margin: 0 5px;
  display: flex;
  background-color: #97999b;
}
.menu_coin .website_item,
.menu_coin .checkout_item {
  width: 50%;
  height: 60px;
  margin: 0 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  line-height: 50px;
  background-color: #97999b;
  border-radius: 0;
}
.menu_coin .website_item img,
.menu_coin .checkout_item img {
  width: 18px;
  height: 20px;
}
.menu_coin .website_item p,
.menu_coin .checkout_item p {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}
.menu_coin .website_item p {
  justify-content: start;
  position: relative;
  left: 80%;
}

.reservation_title {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.reservation_title ul {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reservation_title ul {
    display: none;
  }
}
.reservation_title ul li {
  height: 60px;
  padding: 10px 0;
  cursor: pointer;
}
.reservation_title ul li:hover .about_us,
.reservation_title ul li:hover .reservation_rooms,
.reservation_title ul li:hover .instruction_rooms,
.reservation_title ul li:hover .membership_us {
  display: flex;
}
.reservation_title ul li:hover .about_us a,
.reservation_title ul li:hover .reservation_rooms a,
.reservation_title ul li:hover .instruction_rooms a,
.reservation_title ul li:hover .membership_us a {
  height: 100%;
}
.reservation_title ul li:hover .about_us p,
.reservation_title ul li:hover .reservation_rooms p,
.reservation_title ul li:hover .instruction_rooms p,
.reservation_title ul li:hover .membership_us p {
  transition: 0.5s;
  font-size: 18px;
}
.reservation_title ul li:hover .about_us p:hover,
.reservation_title ul li:hover .reservation_rooms p:hover,
.reservation_title ul li:hover .instruction_rooms p:hover,
.reservation_title ul li:hover .membership_us p:hover {
  color: #000;
  background-color: #63bedf;
}
.reservation_title ul li + li {
  margin-left: 50px;
}
.reservation_title ul li h2 {
  font-size: 17px;
  font-weight: bolder;
}
.reservation_title ul li p {
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
}
.reservation_title ul .about_us {
  width: 100%;
  height: 70px;
  background-color: #97999b;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  animation: aa 0.5s;
}
@media screen and (max-width: 768px) {
  .reservation_title ul .about_us {
    height: 40px;
  }
}
@keyframes aa {
  from {
    height: 0px;
  }
  to {
    height: 70px;
  }
}
@keyframes aaaa {
  from {
    height: 0px;
  }
  to {
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .reservation_title ul .about_us {
    animation: aaaa 0.5s;
  }
}
.reservation_title ul .about_us p {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.reservation_title ul .reservation_rooms,
.reservation_title ul .instruction_rooms,
.reservation_title ul .membership_us {
  width: 100%;
  height: 70px;
  background-color: #97999b;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  animation: aa 0.5s;
}
@media screen and (max-width: 768px) {
  .reservation_title ul .reservation_rooms,
  .reservation_title ul .instruction_rooms,
  .reservation_title ul .membership_us {
    height: 40px;
  }
}
.reservation_title ul .reservation_rooms p,
.reservation_title ul .instruction_rooms p,
.reservation_title ul .membership_us p {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.reservation_title ul .reservation_rooms p + p,
.reservation_title ul .instruction_rooms p + p,
.reservation_title ul .membership_us p + p {
  margin-left: 50px;
}
.reservation_title ul .reservation_rooms.on,
.reservation_title ul .instruction_rooms.on,
.reservation_title ul .membership_us.on {
  display: flex;
}

.reservation_box {
  width: 1200px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 968px) {
  .reservation_box {
    width: 1000px;
  }
}
@media screen and (max-width: 665px) {
  .reservation_box {
    width: 840px;
  }
}
.reservation_box .reservation_left_box {
  padding-right: 170px;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_left_box {
    padding-right: 0;
  }
}
.reservation_box .reservation_left_box .reservation_left_box_title .title {
  margin: 80px 0 0 20px;
  font-size: 12px;
}
.reservation_box .reservation_left_box .reservation_item {
  width: 250px;
  padding: 10px 0 20px;
  margin-top: 20px;
  background-color: #97999b;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_left_box .reservation_item {
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  .reservation_box .reservation_left_box .reservation_item:hover {
    transform: translateX(0);
  }
}
.reservation_box .reservation_left_box .reservation_item .generally_reserve,
.reservation_box .reservation_left_box .reservation_item .offer {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.reservation_box .reservation_left_box .reservation_item .generally_reserve,
.reservation_box .reservation_left_box .reservation_item .offer,
.reservation_box .reservation_left_box .reservation_item .in_rooms,
.reservation_box .reservation_left_box .reservation_item .reserve_rooms {
  padding-top: 30px;
  margin: 0 10px;
  text-align: center;
  border-bottom: 3px double #fff;
  color: #fff;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms {
  padding-left: 20px;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_title {
  padding-bottom: 20px;
  display: flex;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_title i {
  padding-right: 10px;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date {
  padding-bottom: 10px;
  display: flex;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date .in_rooms_years,
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date .in_rooms_month,
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date .in_rooms_day {
  display: flex;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date span {
  padding: 0 5px;
}
.reservation_box .reservation_left_box .reserve_rooms {
  padding: 0 50px 10px 10px;
  display: flex;
}
.reservation_box .reservation_left_box .rooms_find {
  margin: 20px 10px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
  font-size: 18px;
}
.reservation_box .reservation_left_box .rooms_find h2 {
  font-weight: bolder;
}
.reservation_box .reservation_left_box .txt {
  width: 40px;
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 30%;
  right: -40px;
  border-radius: 0 10px 10px 0;
  background-color: #97999b;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_left_box .txt:hover .reservation_item {
    transform: translateX(0);
  }
}
.reservation_box .reservation_left_box .txt p {
  font-size: 24px;
  font-weight: bolder;
  writing-mode: vertical-lr;
}
.reservation_box .reservation_right_box {
  margin-top: 120px;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_right_box {
    margin-left: 0;
    transform: translateX(-25%);
  }
}
@media screen and (max-width: 968px) {
  .reservation_box .reservation_right_box {
    transform: translateX(-30%);
  }
}
@media screen and (max-width: 667px) {
  .reservation_box .reservation_right_box {
    transform: translateX(-32%);
  }
}
@media screen and (max-width: 400px) {
  .reservation_box .reservation_right_box {
    transform: translateX(-41%);
  }
}
.reservation_box .reservation_right_box .reservation_right_item {
  display: flex;
  flex-wrap: wrap;
}
.reservation_box .reservation_right_box .reservation_right_item .room_list {
  width: 340px;
  padding: 40px 5px;
  margin-bottom: 20px;
  background-color: #eee;
  position: relative;
}
@media screen and (max-width: 968px) {
  .reservation_box .reservation_right_box .reservation_right_item .room_list {
    width: 300px;
  }
}
.reservation_box .reservation_right_box .reservation_right_item .room_list h2 {
  padding: 20px 0;
  font-weight: bolder;
}
.reservation_box .reservation_right_box .reservation_right_item .room_list h4 {
  color: #d80000;
  font-weight: bolder;
}
.reservation_box .reservation_right_box .reservation_right_item .room_list li {
  list-style: none;
}
.reservation_box .reservation_right_box .reservation_right_item .room_list:nth-child(even) {
  margin-left: 70px;
}
@media screen and (max-width: 968px) {
  .reservation_box .reservation_right_box .reservation_right_item .room_list:nth-child(even) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 665px) {
  .reservation_box .reservation_right_box .reservation_right_item .room_list:nth-child(even) {
    margin-left: 0;
  }
}
.reservation_box .reservation_right_box .reservation_right_item .room_list .rooms_item {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.reservation_box .reservation_right_box .reservation_right_item .room_list .rooms_item a {
  padding: 5px 20px;
  font-size: 14px;
  border: 1px solid #000;
}

.footer {
  margin: 0 auto;
  padding-bottom: 20px;
  background: #eeeeee;
  border-bottom: 10px solid #1a1a1a;
  display: flex;
  position: relative;
}
.footer .title {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer .title {
    margin: 0 10px;
  }
}
.footer .title .txt h2 {
  padding: 10px 0;
  font-weight: bolder;
}
.footer .title .txt p {
  font-size: 12px;
}
.footer .title .foot {
  display: flex;
  align-items: center;
}

.go_top {
  margin-top: 5px;
  padding: 10px 0;
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;
}
.go_top.on {
  display: block;
}

.safe_ad {
  width: 30%;
  height: 60%;
  padding: 5px;
  margin: 0 0 0 -35%;
  position: fixed;
  top: 20%;
  left: 70%;
  z-index: 10002;
  background-color: #fff;
  text-align: center;
  z-index: 2;
  display: block;
}
@media screen and (max-width: 1024px) {
  .safe_ad {
    width: 70%;
    height: 92%;
    margin: 0 auto;
    top: 2%;
    left: 15%;
  }
}
.safe_ad.on {
  display: block;
}
.safe_ad .safe_title {
  padding-top: 20px;
}
.safe_ad .safe_title p {
  font-weight: bolder;
  font-size: 28px;
}
.safe_ad .remind {
  padding: 0px 10%;
  margin: 20px 0px;
  overflow-y: auto;
  display: flex;
  color: red;
}
.safe_ad .remind p {
  font-size: 21px;
  font-weight: bolder;
  text-align: left;
}
.safe_ad .safe_main {
  padding: 0px 10%;
  margin: 20px 0px;
  text-align: left;
}
.safe_ad .safe_main p {
  font-size: 14px;
}
.safe_ad .safe_main a {
  color: blue;
}
.safe_ad .safe_ad_main {
  width: 100%;
  height: 100%;
  position: relative;
}
.safe_ad .safe_close {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  top: -18px;
  right: -18px;
  z-index: 2;
  cursor: pointer;
}

.safe_back {
  width: 100%;
  height: 200vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}
.safe_back.on {
  display: block;
}/*# sourceMappingURL=generally.css.map */