html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

.header {
  width: 140px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-right: 1px solid #b2b2b2;
  z-index: 20;
}
@media screen and (max-width: 1180px) {
  .header {
    display: none;
  }
}
.header .hd_img {
  width: 70px;
  padding-top: 18%;
  margin-left: 30px;
  position: relative;
  filter: contrast(0) brightness(10);
}
.header .hd_img a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.header .burger {
  width: 24px;
  height: 43px;
  margin-bottom: 60px;
  position: relative;
  left: 50%;
  cursor: pointer;
}
.header .burger:hover .menu::before, .header .burger:hover .menu::after {
  height: 43px;
  transition: 0.5s;
}
.header .burger .menu {
  width: 2px;
  height: 43px;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  writing-mode: vertical-lr;
}
.header .burger .menu::before, .header .burger .menu::after {
  content: "";
  width: 2px;
  height: 35px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  font-size: 12px;
}
.header .burger .menu::before {
  left: -10px;
}
.header .burger .menu::after {
  left: 10px;
}
.header .burger .menu.on {
  width: 0;
}
.header .burger .menu.on::before, .header .burger .menu.on::after {
  height: 43px;
  left: 0;
}
.header .burger .menu.on::before {
  transform: rotate(30deg);
}
.header .burger .menu.on::after {
  transform: rotate(150deg);
}
.header .burger p {
  padding-right: 20px;
  color: #fff;
  font-size: 12px;
}
.header .header_box {
  padding-bottom: 20px;
  position: relative;
  left: 30%;
}
.header .header_box .language_box {
  position: relative;
}
.header .header_box .language_box .language_txt {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50px;
  writing-mode: vertical-lr;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.header .header_box .language_box .language_txt:hover {
  opacity: 0.5;
}
.header .header_box .language_box .language_txt p {
  padding-top: 20px;
}
.header .header_box .language_box .language_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s linear;
}
.header .header_box .language_box .language_list li {
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  background-color: #fff;
  color: #353535;
  position: relative;
  opacity: 1;
  animation: tttt 1s linear;
  cursor: pointer;
}
.header .header_box .language_box .language_list li:first-child {
  background-color: #63bedf;
  color: #fff;
  animation: tttt 1s linear;
}
.header .header_box .language_box .language_list li:hover {
  background-color: #63bedf;
  color: #fff;
  transition: 0.5s linear;
}
.header .header_box .language_box .language_list li + li {
  margin-top: 5px;
}
@keyframes cc {
  from {
    opacity: 0;
    right: -30px;
  }
  to {
    opacity: 1;
    right: -50px;
  }
}
@keyframes tttt {
  from {
    right: -50px;
  }
  to {
    right: -40px;
  }
}
.header .header_box .language_box .language_list.on {
  opacity: 1;
  transition: 0.5s;
}
.header .header_box .language_box .language_list.on li {
  opacity: 0;
  animation: cc 0.5s 0.5s linear forwards;
}
.header .header_box .language_box .language_list.on li:first-child {
  animation: cc 0.5s linear forwards;
}
.header .header_box .language_box .language_list.on li:nth-child(2) {
  animation: cc 0.5s 0.5s linear forwards;
}
.header .header_box .message_box {
  width: 40px;
  padding: 25px 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}
.header .header_box .message_box:hover {
  opacity: 0.5;
}
.header .header_box .message_box img {
  width: 19px;
  height: 14px;
  margin-bottom: 10px;
  filter: contrast(0) brightness(10);
}
.header .header_box .message_box h2 {
  width: 19px;
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
}
.header.on .hd_img {
  transition: 0.5s;
  filter: contrast(100%) brightness(1);
}
.header.on .menu {
  transition: 0.5s;
  background-color: #000;
}
.header.on .menu::before, .header.on .menu::after {
  transition: 0.5s;
  background-color: #000;
}
.header.on .menu p {
  transition: 0.5s;
  color: #000;
}
.header.on .language_box .language_txt {
  color: #000;
  border: 1px solid #000;
}
.header.on .message_box {
  transition: 0.5s;
  color: #000;
  border: 1px solid #000;
}
.header.on .message_box img {
  transition: 0.5s;
  filter: contrast(100%) brightness(1);
}

.header_m {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 5;
  display: none;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.header_m.on {
  background-color: transparent;
  filter: contrast(100%) brightness(1);
}
.header_m.on .hd_m_img {
  filter: contrast(0) brightness(10);
}
@media screen and (max-width: 1180px) {
  .header_m {
    display: flex;
  }
}
.header_m .hd_m_img {
  width: 150px;
  margin: 20px 0 0 20px;
  filter: contrast(0) brightness(10);
  position: relative;
}
@media screen and (max-width: 1180px) {
  .header_m .hd_m_img {
    filter: contrast(100%) brightness(1);
  }
}
.header_m .hd_m_img a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.header_m .burger {
  width: 24px;
  height: 43px;
  margin-bottom: 60px;
  position: relative;
  top: 40%;
  right: 3%;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .header_m .burger {
    right: 4%;
  }
}
.header_m .burger .menu {
  width: 43px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 1180px) {
  .header_m .burger .menu {
    background-color: #000;
  }
}
.header_m .burger .menu::before, .header_m .burger .menu::after {
  content: "";
  width: 35px;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  font-size: 12px;
}
@media screen and (max-width: 1180px) {
  .header_m .burger .menu::before, .header_m .burger .menu::after {
    background-color: #000;
  }
}
.header_m .burger .menu::before {
  top: -10px;
}
.header_m .burger .menu::after {
  top: 10px;
}
.header_m .burger .menu.on {
  width: 0;
}
.header_m .burger .menu.on::before, .header_m .burger .menu.on::after {
  width: 43px;
  left: 0;
  transition: all 0.5s;
}
.header_m .burger .menu.on::before {
  transform: rotate(150deg);
  top: 0%;
}
.header_m .burger .menu.on::after {
  transform: rotate(30deg);
  top: -10%;
}
.header_m .burger .menu.on p {
  padding-left: 5px;
}
.header_m .burger p {
  padding-right: 20px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: -30px;
  left: 20%;
}
@media screen and (max-width: 1180px) {
  .header_m .burger p {
    color: #000;
  }
}
.header_m.off .m_bg::before {
  background: linear-gradient(to top, rgba(59, 175, 219, 0.5) 100%, rgba(54, 175, 101, 0.5) 100%);
}
.header_m.on {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1180px) {
  .header_m.on {
    box-shadow: none;
  }
}
.header_m.on .hd_m_img {
  filter: contrast(0) brightness(10);
}
.header_m.on .burger .menu {
  background-color: #fff;
}
.header_m.on .burger .menu p {
  color: #fff;
}
.header_m.on .burger .menu::before, .header_m.on .burger .menu::after {
  background-color: #fff;
}/*# sourceMappingURL=header.css.map */