@import "reset";
@import "method";
.introduction_bg {
  padding-left: 140px;
  position: relative;
  overflow: hidden;
  @include rwd(1180) {
    padding-left: 0;
    margin-top: 80px;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.2;
  }
  .introduction_bg_img {
    height: 640px;
    img {
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
  }
  .title {
    position: absolute;
    top: 15%;
    left: 50%;
    writing-mode: vertical-lr;
    color: #fff;
    h2 {
      font-size: 20px;
      position: relative;
      &::after {
        content: "";
        height: 100px;
        width: 1px;
        margin-top: 20px;
        background-color: #fff;
        position: absolute;
        left: 50%;
      }
    }
    h1 {
      font-size: 55px;
    }
  }
  .txt {
    position: absolute;
    top: 30%;
    right: 2%;
    display: flex;
    flex-direction: column;
    color: #fff;
    @include rwd(840) {
      display: none;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        transition: 0.5s;
        color: #63bedf;
      }
    }
    p {
      padding-top: 10px;
      writing-mode: vertical-lr;
    }
    span {
      margin-top: 30px;
      writing-mode: vertical-lr;
      position: relative;
      &::before {
        content: "";
        width: 4px;
        height: 4px;
        position: absolute;
        top: -17px;
        left: 10px;
        border-radius: 100%;
        background: #fff;
        z-index: 1;
      }
    }
  }
}

.introduction_main {
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include rwd(1180) {
    padding: 0 20px;
  }
  .title {
    margin: 80px 0 100px;
    color: #36af63;
    position: relative;
    letter-spacing: 3.5px;
    font-size: 18px;
    z-index: 2;
    &::before,
    &::after {
      content: "";
      width: 86px;
      height: 1px;
      position: absolute;
      left: 0;
      background-color: #36af63;
    }
    &::before {
      top: -3px;
    }
    &::after {
      bottom: 0;
    }
    p{
      display: none;
    }
    @include rwd(1024) {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      background-color: #63bedf;
      color: #fff;
      border-radius: 10px;
      cursor: pointer;
      &::before,
      &::after {
        height: 0;
      }
      p{
        transform:rotate(90deg);
        display: block;
      }
    }
    .title_m {
      width: 87%;
      padding: 10px;
      position: absolute;
      left: 0;
      bottom: -43px;
      color: #63bedf;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      display: none;
      @include rwd(1024){
        &.on{
          display: block;
        }
      }
    }
  }
  h2 {
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    position: relative;
  
  }
  .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    p {
      padding: 30px 0;
    }
  }
  .txt_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
  }
}
