html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

.location_bg {
  padding-left: 140px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1180px) {
  .location_bg {
    padding-left: 0;
    margin-top: 80px;
  }
}
.location_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.2;
}
.location_bg .location_bg_img {
  height: 640px;
}
.location_bg .title {
  position: absolute;
  top: 15%;
  left: 45%;
  writing-mode: vertical-lr;
  color: #fff;
}
.location_bg .title h2 {
  font-size: 20px;
  position: relative;
}
.location_bg .title h2::after {
  content: "";
  height: 100px;
  width: 1px;
  margin-top: 20px;
  background-color: #fff;
  position: absolute;
  left: 50%;
}
.location_bg .title h1 {
  font-size: 55px;
}
.location_bg .txt {
  position: absolute;
  top: 30%;
  right: 2%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
@media screen and (max-width: 840px) {
  .location_bg .txt {
    display: none;
  }
}
.location_bg .txt a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location_bg .txt a:hover {
  transition: 0.5s;
  color: #63bedf;
}
.location_bg .txt p {
  padding-top: 10px;
  writing-mode: vertical-lr;
}
.location_bg .txt span {
  margin-top: 30px;
  writing-mode: vertical-lr;
  position: relative;
}
.location_bg .txt span::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -17px;
  left: 10px;
  border-radius: 100%;
  background: #fff;
  z-index: 1;
}

.line {
  width: 80%;
  height: 1px;
  margin: 50px 140px 100px 160px;
  background-color: #e9e9e9;
}
@media screen and (max-width: 1180px) {
  .line {
    margin: 50px 20px;
  }
}

.maps {
  padding: 0 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1180px) {
  .maps {
    padding: 0 20px;
  }
}
.maps .location_maps {
  width: 100%;
  padding-left: 20px;
}

.location_item {
  padding-left: 160px;
}
@media screen and (max-width: 1180px) {
  .location_item {
    padding: 0 20px 50px;
  }
}
.location_item .txt {
  padding-top: 50px;
}
.location_item .txt h2 {
  font-size: 18px;
  font-weight: bolder;
}
.location_item .txt p {
  line-height: 1.8;
  color: #404040;
}
.location_item .txt span {
  color: rgb(230, 126, 34);
}/*# sourceMappingURL=location.css.map */