html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

.all_body {
  overflow: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

.header {
  width: 140px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-right: 1px solid #b2b2b2;
  z-index: 2;
}
.header .img {
  width: 70px;
  padding-top: 18%;
  margin-left: 30px;
  filter: contrast(0) brightness(10);
}
.header .burger {
  width: 24px;
  height: 43px;
  position: relative;
  left: 50%;
  margin-bottom: 60px;
}
.header .burger:hover .menu::before, .header .burger:hover .menu::after {
  transition: 0.5s;
  height: 43px;
}
.header .burger .menu {
  width: 1px;
  height: 43px;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  writing-mode: vertical-lr;
}
.header .burger .menu::before, .header .burger .menu::after {
  content: "";
  width: 1px;
  height: 35px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  position: absolute;
  font-size: 12px;
}
.header .burger .menu::before:hover, .header .burger .menu::after:hover {
  transition: 0.5s;
  height: 43px;
}
.header .burger .menu::before {
  left: -10px;
}
.header .burger .menu::after {
  left: 10px;
}
.header .burger p {
  color: #fff;
  padding-right: 20px;
  font-size: 12px;
}
.header .header_box {
  padding-bottom: 20px;
  position: relative;
  left: 30%;
}
.header .language_box {
  padding: 20px 5px;
  display: flex;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: flex-end;
  writing-mode: vertical-lr;
}
.header .language_box p {
  padding-top: 20px;
}
.header .message_box {
  width: 30px;
  padding: 20px 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
}
.header .message_box img {
  width: 19px;
  height: 14px;
  margin-bottom: 10px;
  filter: contrast(0) brightness(10);
}
.header .message_box h2 {
  width: 19px;
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
}

.hd_bg {
  position: relative;
}
.hd_bg .header_bg li {
  height: 100%;
}
.hd_bg .header_bg li img {
  width: 50%;
}
.hd_bg .header_bg li p {
  position: absolute;
  top: 30%;
  left: 7%;
  min-width: 25px;
  font-size: 25px;
  color: #fff;
}
.hd_bg .header_bg li h1,
.hd_bg .header_bg li h2 {
  position: absolute;
  color: #fff;
}
.hd_bg .header_bg li h1 {
  font-size: 75px;
  top: 40%;
  left: 7%;
  transform: translateY(20%);
  opacity: 0;
  animation: hh 1s forwards;
}
@keyframes hh {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.hd_bg .header_bg li h2 {
  top: 50%;
  left: 10%;
  font-size: 23px;
  transform: translateY(50%);
  opacity: 0;
  animation: hh 1s 1s forwards;
}
@keyframes hh {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.hd_bg .header_bg li h2::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  padding-right: 50px;
  left: -120px;
  border: 1px solid #fff;
}
.hd_bg .header_bg li:nth-child(2) {
  transform: translateX(-100%);
}
.hd_bg .header_bg li:nth-child(3) {
  transform: translateX(-200%);
}
.hd_bg .header_bg li:nth-child(3) p {
  left: 11%;
}
.hd_bg .header_bg li:nth-child(3) h1 {
  left: 11%;
}
.hd_bg .header_bg li:nth-child(3) h2 {
  left: 14%;
}
.hd_bg .hd_news {
  max-width: 536px;
  width: 100%;
  padding: 14px 0;
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  right: 0;
  top: 1%;
  border: 1px solid #fff;
  border-radius: 20px 0 0 20px;
}
.hd_bg .hd_news:hover .title {
  transition: 5s;
  text-decoration: underline;
}
.hd_bg .hd_news h2 {
  max-width: 110px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1px;
  border-right: 1px solid #fff;
}
.hd_bg .hd_news .item {
  display: flex;
  flex-direction: column;
  padding: 6px 50px 8px 23px;
}
.hd_bg .hd_news .item .title {
  padding-bottom: 10px;
}
.hd_bg .hd_news .item span {
  padding-left: 10px;
}
.hd_bg .scoll {
  position: absolute;
  right: 3%;
  bottom: 3%;
  color: #fff;
}
.hd_bg .scoll h2 {
  position: absolute;
  right: 3%;
  bottom: 0;
  white-space: nowrap;
  writing-mode: vertical-lr;
}
.hd_bg .scoll .circle {
  width: 96px;
  height: 96px;
  position: relative;
  right: -35px;
  bottom: -70px;
  border: 1px solid #b2b2b2;
  border-radius: 100%;
}
.hd_bg .scoll .circle::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;
  display: block;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border-top: 2px solid #63bedf;
  border-radius: 100%;
  animation: vv 3s infinite;
}
@keyframes vv {
  to {
    transform: rotate(-360deg);
  }
}

.brand {
  display: flex;
  padding: 165px 0 50px;
  justify-content: center;
  position: relative;
}
.brand h2,
.brand h3 {
  writing-mode: vertical-lr;
}
.brand .brand_title {
  margin-right: 25px;
  padding-bottom: 15px;
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #63bedf;
}
.brand .brand_title::before {
  content: "";
  height: 90px;
  width: 0px;
  display: flex;
  position: absolute;
  bottom: 65%;
  left: 50%;
  border: 1px solid #63bedf;
}
.brand h3 {
  font-size: 55px;
}
.brand .img {
  position: relative;
  margin: 0 30px;
  height: 570px;
  width: 570px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  overflow: hidden;
}
.brand .img img {
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.brand ul {
  display: flex;
  position: relative;
}
.brand ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}
.brand ul li + li {
  padding-left: 10px;
}
.brand ul li h2 {
  padding-bottom: 18px;
  font-weight: bolder;
}
.brand ul li p {
  writing-mode: vertical-lr;
  letter-spacing: 5.5px;
}
.brand .brand_about {
  position: absolute;
  bottom: 15%;
}
.brand .brand_about:hover {
  transition: 1s;
}
.brand .brand_about:hover button {
  color: #36af63;
  border-color: #36af63;
}
.brand .brand_about:hover .arrow {
  background-color: #36af63;
  animation: aa 1s;
}
@keyframes aa {
  from {
    right: -20%;
  }
  to {
    right: -40%;
  }
}
.brand .brand_about:hover .arrow::before {
  background-color: #36af63;
}
.brand .brand_about button {
  height: 40px;
  position: relative;
  padding: 10px;
  background-color: #fff;
  min-width: 165px;
  border: 1px solid #191919;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #191919;
  cursor: pointer;
}
.brand .brand_about .arrow {
  width: 60px;
  height: 1px;
  background-color: #191919;
  position: absolute;
  top: 50%;
  right: -20%;
}
.brand .brand_about .arrow::before {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  right: 3px;
  bottom: -1px;
  background-color: #191919;
  transform: rotate(135deg);
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 105px 140px 50px;
  margin: 0 30px;
  overflow: hidden;
}
.field .title {
  display: flex;
}
.field .title h2 {
  font-size: 55px;
  letter-spacing: 2.5px;
}
.field .title p {
  width: 100px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  color: #63bedf;
}
.field .title p::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 20%;
  height: 1px;
  background-color: #63bedf;
}
.field h3 {
  letter-spacing: 2.5px;
}
.field .field_bg {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.field .field_list {
  max-width: 920px;
  position: relative;
}
.field .field_list::before {
  content: "";
  width: 130px;
  height: 100%;
  position: absolute;
  background: #fff;
  left: -130px;
  z-index: 2;
}
.field .field_list .slick-list {
  overflow: initial;
}
.field .field_list li {
  margin: 0 50px 0 80px;
}
.field .field_list li h2 {
  font-weight: bolder;
  font-size: 20px;
}
.field .field_list li h2,
.field .field_list li p {
  letter-spacing: 2.5px;
  text-align: center;
}
.field .field_list li h2 {
  padding-top: 20px;
}
.field .field_list li p {
  padding-top: 10px;
}
.field .field_list .slick-slide {
  max-width: 920px;
  height: 550px;
}
.field .field_list .slick-slide:hover .img img {
  transition: 0.5s;
  transform: scale(1.2);
}
.field .field_list .slick-slide .img {
  border-radius: 30px;
  overflow: hidden;
}
.field .field_list .slick-prev,
.field .field_list .slick-next {
  display: flex;
  width: 65px;
  height: 65px;
  border: 1px solid rgba(48, 48, 48, 0.2);
  border-radius: 100%;
  cursor: pointer;
  color: #191919;
  pointer-events: fill;
  z-index: 2;
}
.field .field_list .slick-prev::before,
.field .field_list .slick-next::before {
  color: #191919;
}
.field .field_list .slick-prev:hover::after,
.field .field_list .slick-next:hover::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;
  display: block;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border-top: 2px solid #353535;
  border-radius: 100%;
  animation: vv 3s infinite;
}
.field .field_list .slick-prev {
  left: -10%;
}
.field .field_list .slick-prev::before {
  font-size: 24px;
  position: absolute;
  top: 30%;
  left: 40%;
  content: "<";
}
.field .field_list .slick-next {
  right: -10%;
}
.field .field_list .slick-next::before {
  font-size: 24px;
  position: absolute;
  top: 30%;
  left: 40%;
  content: ">";
}
.field .field_about {
  position: relative;
  bottom: 15%;
}
.field .field_about:hover {
  transition: 1s;
}
.field .field_about:hover button {
  color: #36af63;
  border-color: #36af63;
}
.field .field_about:hover .arrow {
  background-color: #36af63;
  animation: aa 1s;
}
@keyframes aa {
  from {
    right: -20%;
  }
  to {
    right: -40%;
  }
}
.field .field_about:hover .arrow::before {
  background-color: #36af63;
}
.field .field_about button {
  height: 40px;
  position: relative;
  padding: 10px;
  background-color: #fff;
  min-width: 165px;
  border: 1px solid #191919;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #191919;
  cursor: pointer;
}
.field .field_about .arrow {
  width: 60px;
  height: 1px;
  background-color: #191919;
  position: absolute;
  right: -35px;
  top: 50%;
}
.field .field_about .arrow::before {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  right: 3px;
  bottom: -1px;
  background-color: #191919;
  transform: rotate(135deg);
}

.events {
  padding: 0 140px;
}
.events .item {
  display: flex;
}
.events .title {
  display: flex;
}
.events .title h2 {
  font-size: 55px;
  letter-spacing: 2.5px;
}
.events .title p {
  width: 100px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  color: #63bedf;
}
.events .title p::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 20%;
  height: 1px;
  background-color: #63bedf;
}/*# sourceMappingURL=main.css.map */