@import "reset";
@import "method";
.all_body {
  overflow: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

// header
.header {
  width: 140px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-right: 1px solid #b2b2b2;
  z-index: 2;
  .img {
    width: 70px;
    padding-top: 18%;
    margin-left: 30px;
    filter: contrast(0) brightness(10);
  }
  .burger {
    width: 24px;
    height: 43px;
    position: relative;
    left: 50%;
    margin-bottom: 60px;
    &:hover {
      .menu {
        &::before,
        &::after {
          transition: 0.5s;
          height: 43px;
        }
      }
    }
    .menu {
      width: 1px;
      height: 43px;
      background-color: #fff;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      writing-mode: vertical-lr;
      &::before,
      &::after {
        content: "";
        width: 1px;
        height: 35px;
        left: 0;
        bottom: 0;
        background-color: #fff;
        position: absolute;
        font-size: 12px;
        &:hover {
          transition: 0.5s;
          height: 43px;
        }
      }
      &::before {
        left: -10px;
      }
      &::after {
        left: 10px;
      }
    }
    p {
      color: #fff;
      padding-right: 20px;
      font-size: 12px;
    }
  }
  .header_box {
    padding-bottom: 20px;
    position: relative;
    left: 30%;
  }
  .language_box {
    padding: 20px 5px;
    display: flex;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: flex-end;
    writing-mode: vertical-lr;
    p {
      padding-top: 20px;
    }
  }
  .message_box {
    width: 30px;
    padding: 20px 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    img {
      width: 19px;
      height: 14px;
      margin-bottom: 10px;
      filter: contrast(0) brightness(10);
    }
    h2 {
      width: 19px;
      display: flex;
      align-items: center;
      writing-mode: vertical-lr;
    }
  }
}

// hd_bg
.hd_bg {
  position: relative;
  .header_bg {
    li {
      height: 100%;
      img {
        width: 50%;
      }
      p {
        position: absolute;
        top: 30%;
        left: 7%;
        min-width: 25px;
        font-size: 25px;
        color: #fff;
      }
      h1,
      h2 {
        position: absolute;
        color: #fff;
      }
      h1 {
        font-size: 75px;
        top: 40%;
        left: 7%;
        transform: translateY(20%);
        opacity: 0;
        @keyframes hh {
          from {
            opacity: 0;
            transform: translateY(20%);
          }
          to {
            opacity: 1;
            transform: translateY(0%);
          }
        }
        animation: hh 1s 2s forwards;
      }
      h2 {
        top: 50%;
        left: 10%;
        font-size: 23px;
        transform: translateY(50%);
        opacity: 0;
        @keyframes hh {
          from {
            opacity: 0;
            transform: translateY(30%);
          }
          to {
            opacity: 1;
            transform: translateY(0%);
          }
        }
        animation: hh 1s 1s forwards;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          width: 50px;
          padding-right: 50px;
          left: -120px;
          border: 1px solid #fff;
        }
      }
      &:nth-child(2) {
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateX(-200%);
        p {
          left: 11%;
        }
        h1 {
          left: 11%;
        }
        h2 {
          left: 14%;
        }
      }
    }
  }
  .hd_news {
    max-width: 536px;
    width: 100%;
    padding: 14px 0;
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    right: 0;
    top: 1%;
    border: 1px solid #fff;
    border-radius: 20px 0 0 20px;
    &:hover {
      .title {
        transition: 5s;
        text-decoration: underline;
      }
    }
    h2 {
      max-width: 110px;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      letter-spacing: 1px;
      border-right: 1px solid #fff;
    }
    .item {
      display: flex;
      flex-direction: column;
      padding: 6px 50px 8px 23px;
      .title {
        padding-bottom: 10px;
      }
      span {
        padding-left: 10px;
      }
    }
  }
  .scoll {
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: #fff;
    h2 {
      position: absolute;
      right: 3%;
      bottom: 0;
      white-space: nowrap;
      writing-mode: vertical-lr;
    }
    .circle {
      width: 96px;
      height: 96px;
      position: relative;
      right: -35px;
      bottom: -70px;
      border: 1px solid #b2b2b2;
      border-radius: 100%;
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        z-index: 1;
        display: block;
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        border-top: 2px solid #63bedf;
        border-radius: 100%;
        @keyframes vv {
          to {
            transform: rotate(-360deg);
          }
        }
        animation: vv 3s infinite;
      }
    }
  }
}

// brand
.brand {
  display: flex;
  padding: 165px 0 50px;
  justify-content: center;
  position: relative;
  h2,
  h3 {
    writing-mode: vertical-lr;
  }
  .brand_title {
    margin-right: 25px;
    padding-bottom: 15px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #63bedf;
    &::before {
      content: "";
      height: 90px;
      width: 0px;
      display: flex;
      position: absolute;
      bottom: 65%;
      left: 50%;
      border: 1px solid #63bedf;
    }
  }
  h3 {
    font-size: 55px;
  }
  .img {
    position: relative;
    margin: 0 30px;
    height: 570px;
    width: 570px;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    img {
      height: 570px;
      object-fit: cover;
    }
  }
  ul {
    display: flex;
    position: relative;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      & + li {
        padding-left: 10px;
      }
      h2 {
        padding-bottom: 18px;
        font-weight: bolder;
      }
      p {
        writing-mode: vertical-lr;
        letter-spacing: 5.5px;
      }
    }
  }
  .brand_about {
    position: absolute;
    bottom: 15%;
    &:hover {
      transition: 1s;
      button {
        color: #36af63;
        border-color: #36af63;
      }
      .arrow {
        background-color: #36af63;
        @keyframes aa {
          from {
            right: -20%;
          }
          to {
            right: -40%;
          }
        }
        animation: aa 1s;
        &::before {
          background-color: #36af63;
        }
      }
    }
    button {
      height: 40px;
      position: relative;
      padding: 10px;
      background-color: #fff;
      min-width: 165px;
      border: 1px solid #191919;
      border-radius: 50px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      color: #191919;
      cursor: pointer;
    }
    .arrow {
      width: 60px;
      height: 1px;
      background-color: #191919;
      position: absolute;
      top: 50%;
      right: -20%;
      &::before {
        content: "";
        width: 1px;
        height: 15px;
        position: absolute;
        right: 3px;
        bottom: -1px;
        background-color: #191919;
        transform: rotate(135deg);
      }
    }
  }
}

// field
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 105px 140px 50px;
  margin: 0 30px;
  overflow: hidden;
  .title {
    display: flex;
    h2 {
      font-size: 55px;
      letter-spacing: 2.5px;
    }
    p {
      width: 100px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      flex: 1;
      position: relative;
      font-size: 20px;
      letter-spacing: 2px;
      color: #63bedf;
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 20%;
        height: 1px;
        background-color: #63bedf;
      }
    }
  }
  h3 {
    letter-spacing: 2.5px;
    padding-top: 20px;
  }
  .field_bg {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .field_list {
    max-width: 920px;
    position: relative;
    &::before {
      content: "";
      width: 130px;
      height: 100%;
      position: absolute;
      background: #fff;
      left: -130px;
      z-index: 2;
    }
    .slick-list {
      overflow: initial;
    }
    li {
      margin: 0 50px 0 80px;
      h2 {
        font-weight: bolder;
        font-size: 20px;
      }
      h2,
      p {
        letter-spacing: 2.5px;
        text-align: center;
      }
      h2 {
        padding-top: 20px;
      }
      p {
        padding-top: 10px;
      }
    }
    .slick-slide {
      max-width: 920px;
      height: 550px;
      &:hover {
        .img {
          img {
            transition: 0.5s;
            transform: scale(1.2);
          }
        }
      }
      .img {
        border-radius: 30px;
        overflow: hidden;
      }
    }
    .slick-prev,
    .slick-next {
      display: flex;
      width: 65px;
      height: 65px;
      border: 1px solid rgba(48, 48, 48, 0.2);
      border-radius: 100%;
      cursor: pointer;
      color: #191919;
      pointer-events: fill;
      z-index: 2;
      &::before {
        color: #191919;
      }
      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          z-index: 1;
          display: block;
          width: calc(100% + 1px);
          height: calc(100% + 1px);
          border-top: 2px solid #353535;
          border-radius: 100%;
          animation: vv 3s infinite;
        }
      }
    }
    .slick-prev {
      left: -10%;
      &::before {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 40%;
        content: "<";
      }
    }
    .slick-next {
      &::before {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 40%;
        content: ">";
      }
      right: -10%;
    }
  }
  .field_about {
    position: relative;
    bottom: 15%;
    &:hover {
      transition: 1s;
      button {
        color: #36af63;
        border-color: #36af63;
      }
      .arrow {
        background-color: #36af63;
        @keyframes aa {
          from {
            right: -20%;
          }
          to {
            right: -40%;
          }
        }
        animation: aa 1s;
        &::before {
          background-color: #36af63;
        }
      }
    }
    button {
      height: 40px;
      position: relative;
      padding: 10px;
      background-color: #fff;
      min-width: 165px;
      border: 1px solid #191919;
      border-radius: 50px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      color: #191919;
      cursor: pointer;
    }
    .arrow {
      width: 60px;
      height: 1px;
      background-color: #191919;
      position: absolute;
      right: -35px;
      top: 50%;
      &::before {
        content: "";
        width: 1px;
        height: 15px;
        position: absolute;
        right: 3px;
        bottom: -1px;
        background-color: #191919;
        transform: rotate(135deg);
      }
    }
  }
}

// Events
.events {
  padding: 100px 140px 150px;
  .content {
    .slick-list {
      overflow: initial;
    }
    li {
      max-width: 1500px;
      max-height: 600px;
      &:nth-child(2) {
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateX(-200%);
      }
      .img {
        margin-left: 100px;
        overflow: hidden;
        &:hover {
          img {
            transition: 0.5s;
            transform: scale(1.2);
          }
        }
        img {
          border-radius: 10px;
        }
      }
      .item {
        margin-left: 100px;
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        .title {
          display: flex;
          padding-bottom: 50px;
          border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
          h2 {
            font-size: 55px;
            letter-spacing: 2.5px;
          }
          p {
            width: 150px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            flex: 1;
            position: relative;
            font-size: 20px;
            letter-spacing: 2px;
            color: #63bedf;
            &::before {
              content: "";
              width: 60%;
              position: absolute;
              bottom: 20%;
              height: 1px;
              background-color: #63bedf;
            }
          }
        }
        .txt {
          width: 35%;
          p {
            padding-top: 16px;
          }
          .language {
            display: flex;
            font-size: 22px;
            p {
              font-size: 18px;
              padding: 7px 0 0 15px;
            }
          }
        }
        .event_about {
          padding-top: 20px;
          position: relative;
          .arrow {
            width: 60px;
            height: 1px;
            background-color: #191919;
            position: absolute;
            top: 37%;
            right: -20%;
            &::before {
              content: "";
              width: 1px;
              height: 15px;
              position: absolute;
              right: 3px;
              bottom: -1px;
              background-color: #191919;
              transform: rotate(135deg);
            }
          }
          &:hover {
            transition: 1s;
            button {
              color: #36af63;
              border-color: #36af63;
            }
            .arrow {
              background-color: #36af63;
              @keyframes aa {
                from {
                  right: -20%;
                }
                to {
                  right: -40%;
                }
              }
              animation: aa 1s;
              &::before {
                background-color: #36af63;
              }
            }
          }
          button {
            height: 40px;
            position: relative;
            padding: 10px;
            background-color: #fff;
            min-width: 165px;
            border: 1px solid #191919;
            border-radius: 50px;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            color: #191919;
            cursor: pointer;
          }
        }
      }
    }
    .slick-dots {
      width: 20%;
      justify-content: space-around;
      top: auto;
      left: 15%;
      bottom: -70px;
      .slick-active {
        &::after {
          color: #36af63;
          border-top: 1px solid #36af63;
          border-bottom: 1px solid #36af63;
        }
      }
      li {
        margin: 0 30px;
      }
      li:first-child {
        &::after {
          content: "牽手";
          width: 40px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 0;
          left: 20px;
          transition: 0.5s;
        }
      }
      li:nth-child(2) {
        &::after {
          content: "歡聚";
          width: 40px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 0;
          left: 20px;
          transition: 0.5s;
        }
      }
      li:nth-child(3) {
        &::after {
          content: "同事";
          width: 40px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 0;
          left: 20px;
          transition: 0.5s;
        }
      }
    }
  }
}

// Rooms
.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 105px 140px 50px;
  margin: 0 30px;
  // overflow: hidden;
  .title {
    display: flex;
    h2 {
      font-size: 55px;
      letter-spacing: 2.5px;
    }
    p {
      width: 100px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      flex: 1;
      position: relative;
      font-size: 20px;
      letter-spacing: 2px;
      color: #63bedf;
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 20%;
        height: 1px;
        background-color: #63bedf;
      }
    }
  }
  h3 {
    letter-spacing: 2.5px;
    padding: 20px 0 50px;
  }
  .wrap {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    .room_list {
      display: flex;
      .clous {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        .open_clous {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .clous_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_clous {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "采霞";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .collection {
        padding: 0 5px;
        position: relative;
        flex: 1;
        transition: all 0.2s linear;
        .open_collection {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .collection_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_collection {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "山采";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .mountain {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        .open_mountain {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .mountain_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_mountain {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "遼山";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .morioka {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        .open_morioka {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .morioka_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_morioka {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "森丘";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .reflection {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        .open_reflection {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .reflection_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_reflection {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "綠映";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .linshan {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        .open_linshan {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .linshan_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_linshan {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "臨山";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
    }
  }
  .rooms_about {
    position: relative;
    bottom: 15%;
    margin-top: 50px;
    &:hover {
      transition: 1s;
      button {
        color: #36af63;
        border-color: #36af63;
      }
      .arrow {
        background-color: #36af63;
        @keyframes aa {
          from {
            right: -20%;
          }
          to {
            right: -40%;
          }
        }
        animation: aa 1s;
        &::before {
          background-color: #36af63;
        }
      }
    }
    button {
      height: 40px;
      position: relative;
      padding: 10px;
      background-color: #fff;
      min-width: 165px;
      border: 1px solid #191919;
      border-radius: 50px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      color: #191919;
      cursor: pointer;
    }
    .arrow {
      width: 60px;
      height: 1px;
      background-color: #191919;
      position: absolute;
      right: -35px;
      top: 50%;
      &::before {
        content: "";
        width: 1px;
        height: 15px;
        position: absolute;
        right: 3px;
        bottom: -1px;
        background-color: #191919;
        transform: rotate(135deg);
      }
    }
  }
}
