@import "reset";
@import "method";
.all_body {
  overflow: hidden;
}

html,
body {
  scroll-behavior: smooth;
  &:has(.menu_bg.on) {
    overflow-y: hidden;
  }
  &:has(.start_ad.on) {
    overflow-y: hidden;
  }
}

.start_bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  display: none;
  overflow-y: hidden;
  .img {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    img {
      width: 300px;
      height: 300px;
    }
  }
  &.on {
    display: block;
    @keyframes pp {
      from {
        z-index: 999;
        opacity: 0;
      }
      to {
        z-index: 999;
        opacity: 1;
      }
    }
    animation: pp 3s ;
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      @keyframes ll {
        from {
          opacity: 0;
          transform: translateY(30px);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
      animation: ll 1s linear;
    }
  }
}

.menu_bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transform: translateX(-100%);
  transition: all 1s linear;
  background-image: url(../img/menu_bg__23K07p125u.jpg);
  background-size: cover;
  .wrap {
    height: 100%;
    position: relative;
    ul {
      padding-top: 3px;
      padding-left: 160px;
      position: absolute;
      top: 35%;
      left: 10%;
      display: flex;
      flex-wrap: wrap;
      max-width: 880px;
      width: 100%;
      z-index: 3;
      color: #fff;
      li {
        padding: 0 20px 62px 0;
        width: 50%;
        font-size: 19px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 15%;
          height: 1px;
          background-color: #fff;
          transition: all 0.5s linear;
        }
        h2 {
          padding-bottom: 5px;
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
        p {
          padding-bottom: 10px;
        }
        &:hover {
          &::after {
            width: 80%;
          }
        }
        &:nth-child(even) {
          padding-left: 30px;
        }
      }
    }
    .top_box {
      position: absolute;
      top: 35%;
      right: 20%;
      z-index: 2;
      color: #fff;
      letter-spacing: 0.8px;
      .address,
      .tel,
      .email {
        p {
          position: relative;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            width: 0;
            height: 1px;
            background: #fff;
            transition: all 0.5s linear;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
      .message {
        display: flex;
        padding: 6px 0;
        h2 {
          width: 50px;
        }
        p {
          margin-left: 20px;
        }
        &:last-child {
          padding-top: 30px;
          p {
            margin-left: 0;
          }
        }
      }
      .img {
        padding: 40px 0 15px;
        i {
          width: 40px;
          height: 50px;
          padding-left: 10px;
          &:hover {
            cursor: pointer;
            transition: 0.5s;
            opacity: 0.5;
          }
        }
      }
    }
  }
  &.on {
    transform: translateX(0%);
  }
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(59, 175, 219, 0.5) 0%,
      rgba(54, 175, 101, 0.5) 100%
    );
    z-index: 2;
  }
}

.start_ad {
  display: none;
  &.on {
    display: block;
  }
  &.off {
    display: none;
  }
  .mask {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 5;
  }
  .inner {
    width: 700px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #63bedf;
    .txt {
      h2 {
        font-weight: bolder;
      }
    }
    .inner_close {
      width: 30px;
      height: 30px;
      background-color: #63bedf;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10%;
        width: 25px;
        height: 1px;
        background-color: #fff;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

// header
.header {
  width: 140px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-right: 1px solid #b2b2b2;
  z-index: 20;
  .img {
    width: 70px;
    padding-top: 18%;
    margin-left: 30px;
    filter: contrast(0) brightness(10);
    position: relative;
    a {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .burger {
    width: 24px;
    height: 43px;
    position: relative;
    left: 50%;
    margin-bottom: 60px;
    &:hover {
      .menu {
        &::before,
        &::after {
          transition: 0.5s;
          height: 43px;
        }
      }
    }
    .menu {
      width: 2px;
      height: 43px;
      background-color: #fff;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      writing-mode: vertical-lr;
      &::before,
      &::after {
        content: "";
        width: 2px;
        height: 35px;
        left: 0;
        bottom: 0;
        background-color: #fff;
        position: absolute;
        font-size: 12px;
      }
      &::before {
        left: -10px;
      }
      &::after {
        left: 10px;
      }
      &.on {
        width: 0;
        &::before,
        &::after {
          height: 43px;
          left: 0;
        }
        &::before {
          transform: rotate(30deg);
        }
        &::after {
          transform: rotate(150deg);
        }
      }
    }
    p {
      color: #fff;
      padding-right: 20px;
      font-size: 12px;
    }
  }
  .header_box {
    padding-bottom: 20px;
    position: relative;
    left: 30%;
  }
  .language_box {
    padding: 25px 10px;
    display: flex;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: flex-end;
    writing-mode: vertical-lr;
    position: relative;
    cursor: pointer;
    &:hover {
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      color: rgba($color: #fff, $alpha: 0.5);
    }
    p {
      padding-top: 20px;
    }
    .language_list {
      position: absolute;
      display: none;
      &.on {
        display: flex;
        li {
          padding: 10px;
          border: 1px solid #b2b2b2;
          border-radius: 50%;
          background-color: #fff;
          color: #353535;
          position: relative;
          opacity: 0;
          cursor: pointer;
          animation: cc 0.5s 0.5s linear forwards;
          &:first-child {
            background-color: #63bedf;
            color: #fff;
            @keyframes cc {
              from {
                opacity: 0;
                right: -50px;
              }
              to {
                opacity: 1;
                right: -60px;
              }
            }
            animation: cc 0.5s linear forwards;
          }
          & + li {
            margin-top: 5px;
          }
        }
      }
    }
  }
  .message_box {
    width: 40px;
    padding: 25px 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    &:hover {
      opacity: 0.5;
    }
    img {
      width: 19px;
      height: 14px;
      margin-bottom: 10px;
      filter: contrast(0) brightness(10);
    }
    h2 {
      width: 19px;
      display: flex;
      align-items: center;
      writing-mode: vertical-lr;
    }
  }
  &.on {
    .img {
      transition: 0.5s;
      filter: contrast(100%) brightness(1);
    }
    .menu {
      transition: 0.5s;
      background-color: #000;
      &::before,
      &::after {
        transition: 0.5s;
        background-color: #000;
      }
      p {
        transition: 0.5s;
        color: #000;
      }
    }
    .language_box {
      transition: 0.5s;
      color: #000;
      border: 1px solid #000;
    }
    .message_box {
      transition: 0.5s;
      color: #000;
      border: 1px solid #000;
      img {
        transition: 0.5s;
        filter: contrast(100%) brightness(1);
      }
    }
  }
}

// hd_bg
.hd_bg {
  position: relative;
  z-index: 2;
  .header_bg {
    .slick-slide {
      display: none;
    }
    .slick-active {
      transition: 0.5s linear;
      display: block;
    }
    li {
      height: 100%;
      img {
        width: 50%;
        @keyframes ii {
          from {
            transform: scale(1.05);
            transform-origin: center center;
          }
          to {
            transform: scale(1);
            transform-origin: center center;
          }
        }
        animation: ii 10s forwards linear;
      }
      p {
        position: absolute;
        top: 30%;
        left: 7%;
        min-width: 25px;
        font-size: 25px;
        color: #fff;
        z-index: 2;
      }
      h1,
      h2 {
        position: absolute;
        color: #fff;
      }
      h1 {
        font-size: 75px;
        top: 40%;
        left: 7%;
        transform: translateY(20%);
        opacity: 0;
        animation: hh 1s forwards;
      }
      h2 {
        top: 50%;
        left: 10%;
        font-size: 23px;
        transform: translateY(50%);
        opacity: 0;
        @keyframes hh {
          from {
            opacity: 0;
            transform: translateY(30%);
          }
          to {
            opacity: 1;
            transform: translateY(0%);
          }
        }
        animation: hh 0.5s 1s forwards;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          width: 50px;
          padding-right: 50px;
          left: -120px;
          border: 1px solid #fff;
        }
      }
      .txt {
        max-width: 1720px;
        padding: 68px 19% 20px 160px;
        z-index: 2;
        width: 100%;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    &.go_down {
      @keyframes gg {
        from {
          opacity: 0;
          transform: translateY(-5%);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      animation: gg 5s forwards;
    }
  }
  .hd_news {
    max-width: 536px;
    width: 100%;
    padding: 14px 0;
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    right: 0;
    top: 1%;
    border: 1px solid #fff;
    border-radius: 20px 0 0 20px;
    h2 {
      max-width: 110px;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      letter-spacing: 1px;
      border-right: 1px solid #fff;
    }
    .item {
      display: flex;
      flex-direction: column;
      padding: 6px 50px 8px 23px;
      .title {
        padding-bottom: 10px;
        position: relative;
        &::after {
          content: "";
          width: 0%;
          height: 1px;
          position: absolute;
          bottom: 10%;
          left: 0;
          background-color: #fff;
          transition: all 0.5s 0.5s linear;
        }
      }
      .txt {
        display: flex;
        position: relative;
        &::after {
          content: "";
          width: 0%;
          height: 1px;
          position: absolute;
          bottom: 10%;
          left: 0;
          background-color: #fff;
          transition: all 0.5s linear;
        }
      }
      span {
        padding-left: 10px;
      }
      &:hover {
        .title {
          &::after {
            width: 100%;
            transition: all 0.5s linear;
          }
        }
        .txt {
          &::after {
            width: 30%;
            transition: all 0.5s 0.5s linear;
          }
        }
      }
    }
  }
  .scoll {
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: #fff;
    h2 {
      position: absolute;
      right: 3%;
      bottom: 0;
      white-space: nowrap;
      writing-mode: vertical-lr;
    }
    .circle {
      width: 96px;
      height: 96px;
      position: relative;
      right: -35px;
      bottom: -70px;
      border: 1px solid #b2b2b2;
      border-radius: 100%;
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        z-index: 1;
        display: block;
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        border-top: 2px solid #63bedf;
        border-radius: 100%;
        @keyframes vv {
          to {
            transform: rotate(-360deg);
          }
        }
        animation: vv 1s infinite linear;
      }
    }
  }
  .remind {
    width: 100%;
    max-width: 760px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    text-align: center;
    color: #fff;
    z-index: 1;
    .wrap {
      padding: 0 20px;
      p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.5px;
      }
    }
    .hd_about {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 25px;
      button {
        height: 40px;
        position: relative;
        padding: 10px;
        background-color: transparent;
        min-width: 165px;
        border: 1px solid #fff;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
        cursor: pointer;
      }
      .arrow {
        width: 60px;
        height: 1px;
        background-color: #fff;
        position: relative;
        left: 135px;
        top: -18px;
        &::before {
          content: "";
          width: 1px;
          height: 15px;
          position: absolute;
          right: 3px;
          bottom: -1px;
          background-color: #fff;
          transform: rotate(135deg);
        }
      }
      .cookies {
        &:hover {
          button {
            color: #36af63;
            border-color: #36af63;
          }
          .arrow {
            transition: left 0.5s;
            left: 160px;
            background-color: #36af63;
            &::before {
              background-color: #36af63;
            }
          }
        }
      }
      .all_allow {
        padding-left: 100px;
        &:hover {
          button {
            color: #36af63;
            border-color: #36af63;
          }
          .arrow {
            transition: left 0.5s;
            left: 160px;
            background-color: #36af63;
            &::before {
              background-color: #36af63;
            }
          }
        }
      }
    }
  }
}

// brand
.brand {
  display: flex;
  padding: 165px 0 50px;
  justify-content: center;
  position: relative;
  .brand_txt {
    display: flex;
    h2,
    h3 {
      writing-mode: vertical-lr;
    }
    .brand_title {
      margin-right: 25px;
      padding-bottom: 15px;
      position: relative;
      display: inline-block;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 2px;
      color: #63bedf;
      &::before {
        content: "";
        height: 90px;
        width: 0px;
        display: flex;
        position: absolute;
        bottom: 65%;
        left: 50%;
        border: 1px solid #63bedf;
      }
    }
    h3 {
      font-size: 55px;
    }
    &.on {
      @keyframes mm {
        from {
          opacity: 0;
          transform: translateX(-30px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      animation: mm 1s linear;
    }
  }
  .brand_img {
    position: relative;
    margin: 0 30px;
    height: 570px;
    width: 570px;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    img {
      width: 100%;
      height: 110%;
      object-fit: cover;
      &.down {
        @keyframes jj {
          from {
            transform: matrix(1, 0, 0, 1, 0, -16);
          }
          to {
            transform: matrix(1, 0, 0, 1, 0, -50);
          }
        }
        animation: jj 10s forwards linear;
      }
      &.on {
        @keyframes kk {
          from {
            transform: matrix(1, 0, 0, 1, 0, -50);
          }
          to {
            transform: matrix(1, 0, 0, 1, 0, -16);
          }
        }
        animation: kk 10s forwards linear;
      }
    }
    &.on {
      @keyframes tt {
        from {
          clip-path: circle(25% at 50% 50%);
        }
        to {
          clip-path: circle(50% at 50% 50%);
        }
      }
      animation: tt 1s linear;
    }
  }
  .brand_list {
    display: flex;
    position: relative;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      & + li {
        padding-left: 10px;
      }
      h2 {
        padding-bottom: 18px;
        font-weight: bolder;
        writing-mode: vertical-lr;
      }
      p {
        writing-mode: vertical-lr;
        letter-spacing: 5.5px;
      }
    }
    &.on {
      @keyframes nn {
        from {
          transform: translateX(20px);
        }
        to {
          transform: translateX(0);
        }
      }
      animation: nn 1s linear;
    }
  }
  .brand_about {
    position: absolute;
    bottom: 15%;
    &:hover {
      transition: 1s;
      button {
        color: #36af63;
        border-color: #36af63;
      }
      .arrow {
        background-color: #36af63;
        animation: aa 1s forwards;
        &::before {
          background-color: #36af63;
        }
      }
    }
    button {
      height: 40px;
      position: relative;
      padding: 10px;
      background-color: #fff;
      min-width: 165px;
      border: 1px solid #191919;
      border-radius: 50px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      color: #191919;
      cursor: pointer;
    }
    .arrow {
      width: 60px;
      height: 1px;
      background-color: #191919;
      position: absolute;
      top: 50%;
      right: -20%;
      &::before {
        content: "";
        width: 1px;
        height: 15px;
        position: absolute;
        right: 3px;
        bottom: -1px;
        background-color: #191919;
        transform: rotate(135deg);
      }
    }
  }
}

// field
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 105px 140px 50px;
  margin: 0 30px;
  overflow: hidden;
  animation: ll 2s linear;
  .title {
    display: flex;
    h2 {
      font-size: 55px;
      letter-spacing: 2.5px;
    }
    p {
      width: 100px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      flex: 1;
      position: relative;
      font-size: 20px;
      letter-spacing: 2px;
      color: #63bedf;
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 20%;
        height: 1px;
        background-color: #63bedf;
      }
    }
  }
  h3 {
    letter-spacing: 2.5px;
    padding-top: 20px;
  }
  .field_bg {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .field_list {
    max-width: 920px;
    position: relative;
    &::before {
      content: "";
      width: 130px;
      height: 100%;
      position: absolute;
      background: #fff;
      left: -130px;
    }
    .slick-list {
      overflow: initial;
    }
    li {
      margin: 0 50px 0 80px;
      h2 {
        font-weight: bolder;
        font-size: 20px;
      }
      h2,
      p {
        letter-spacing: 2.5px;
        text-align: center;
      }
      h2 {
        padding-top: 20px;
      }
      p {
        padding-top: 10px;
      }
    }
    .slick-slide {
      max-width: 920px;
      height: 550px;
      &:hover {
        .img {
          img {
            transition: 0.5s;
            transform: scale(1.2);
          }
        }
      }
      .img {
        border-radius: 30px;
        overflow: hidden;
      }
    }
    .slick-prev,
    .slick-next {
      display: flex;
      width: 65px;
      height: 65px;
      border: 1px solid rgba(48, 48, 48, 0.2);
      border-radius: 100%;
      cursor: pointer;
      color: #191919;
      pointer-events: fill;
      // z-index: 2;
      &::before {
        color: #191919;
        z-index: 0;
      }
      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          z-index: 1;
          display: block;
          width: calc(100% + 1px);
          height: calc(100% + 1px);
          border-top: 2px solid #353535;
          border-radius: 100%;
          animation: vv 1s infinite linear;
        }
      }
    }
    .slick-prev {
      left: -10%;
      &::before {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 40%;
        content: "<";
      }
    }
    .slick-next {
      &::before {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 40%;
        content: ">";
      }
      right: -10%;
    }
  }
  .field_about {
    position: relative;
    bottom: 15%;
    &:hover {
      transition: 1s;
      button {
        color: #36af63;
        border-color: #36af63;
      }
      .arrow {
        background-color: #36af63;
        animation: aa 1s forwards;
        &::before {
          background-color: #36af63;
        }
      }
    }
    button {
      height: 40px;
      position: relative;
      padding: 10px;
      background-color: #fff;
      min-width: 165px;
      border: 1px solid #191919;
      border-radius: 50px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      color: #191919;
      cursor: pointer;
    }
    .arrow {
      width: 60px;
      height: 1px;
      background-color: #191919;
      position: absolute;
      right: -35px;
      top: 50%;
      &::before {
        content: "";
        width: 1px;
        height: 15px;
        position: absolute;
        right: 3px;
        bottom: -1px;
        background-color: #191919;
        transform: rotate(135deg);
      }
    }
  }
}

// Events
.events {
  padding: 100px 140px 150px;
  animation: ll 2s linear;
  .content {
    .slick-list {
      overflow: initial;
    }
    li {
      max-width: 1500px;
      max-height: 600px;
      &:nth-child(2) {
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateX(-200%);
      }
      .img {
        margin-left: 100px;
        overflow: hidden;
        &:hover {
          img {
            transition: 0.5s;
            transform: scale(1.2);
          }
        }
        img {
          border-radius: 10px;
        }
      }
      .item {
        margin-left: 100px;
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        .title {
          display: flex;
          padding-bottom: 50px;
          border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
          h2 {
            font-size: 55px;
            letter-spacing: 2.5px;
          }
          p {
            width: 150px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            flex: 1;
            position: relative;
            font-size: 20px;
            letter-spacing: 2px;
            color: #63bedf;
            &::before {
              content: "";
              width: 60%;
              position: absolute;
              bottom: 20%;
              height: 1px;
              background-color: #63bedf;
            }
          }
        }
        .txt {
          width: 35%;
          p {
            padding-top: 16px;
          }
          .language {
            display: flex;
            font-size: 22px;
            p {
              font-size: 18px;
              padding: 7px 0 0 15px;
            }
          }
        }
        .event_about {
          padding-top: 20px;
          position: relative;
          .arrow {
            width: 60px;
            height: 1px;
            background-color: #191919;
            position: absolute;
            top: 37%;
            right: -20%;
            &::before {
              content: "";
              width: 1px;
              height: 15px;
              position: absolute;
              right: 3px;
              bottom: -1px;
              background-color: #191919;
              transform: rotate(135deg);
            }
          }
          &:hover {
            transition: 1s;
            button {
              color: #36af63;
              border-color: #36af63;
            }
            .arrow {
              background-color: #36af63;
              animation: aa 1s forwards;
              &::before {
                background-color: #36af63;
              }
            }
          }
          button {
            height: 40px;
            position: relative;
            padding: 10px;
            background-color: #fff;
            min-width: 165px;
            border: 1px solid #191919;
            border-radius: 50px;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            color: #191919;
            cursor: pointer;
          }
        }
      }
    }
    .slick-dots {
      width: 20%;
      justify-content: space-around;
      top: auto;
      left: 15%;
      bottom: -70px;
      .slick-active {
        &::after {
          color: #36af63;
          border-top: 1px solid #36af63;
          border-bottom: 1px solid #36af63;
        }
      }
      li {
        margin: 0 30px;
      }
      li:first-child {
        &::after {
          content: "牽手";
          width: 40px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 0;
          left: 20px;
          transition: 0.5s;
        }
      }
      li:nth-child(2) {
        &::after {
          content: "歡聚";
          width: 40px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 0;
          left: 20px;
          transition: 0.5s;
        }
      }
      li:nth-child(3) {
        &::after {
          content: "同事";
          width: 40px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 0;
          left: 20px;
          transition: 0.5s;
        }
      }
    }
  }
}

// Rooms
.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 105px 140px 50px;
  margin: 0 30px;
  .title {
    display: flex;
    animation: ll 2s linear;
    h2 {
      font-size: 55px;
      letter-spacing: 2.5px;
    }
    p {
      width: 100px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      flex: 1;
      position: relative;
      font-size: 20px;
      letter-spacing: 2px;
      color: #63bedf;
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 20%;
        height: 1px;
        background-color: #63bedf;
      }
    }
  }
  h3 {
    letter-spacing: 2.5px;
    padding: 20px 0 50px;
  }
  .wrap {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    .room_list {
      display: flex;
      .clous {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        opacity: 0;
        object-fit: cover;
        @keyframes aaa {
          from {
            opacity: 0;
            transform: translateY(10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        animation: aaa 0.5s linear forwards;
        .open_clous {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .clous_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_clous {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "采霞";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .collection {
        padding: 0 5px;
        position: relative;
        flex: 1;
        transition: all 0.2s linear;
        opacity: 0;
        object-fit: cover;
        animation: aaa 0.5s 0.5s linear forwards;
        .open_collection {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .collection_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_collection {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "山采";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .mountain {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        opacity: 0;
        object-fit: cover;
        animation: aaa 0.5s 0.8s linear forwards;
        .open_mountain {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .mountain_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_mountain {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "遼山";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .morioka {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        opacity: 0;
        object-fit: cover;
        animation: aaa 0.5s 1.2s linear forwards;
        .open_morioka {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .morioka_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_morioka {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "森丘";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .reflection {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        opacity: 0;
        object-fit: cover;
        animation: aaa 0.5s 1.5s linear forwards;
        .open_reflection {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .reflection_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_reflection {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "綠映";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
      .linshan {
        padding: 0 5px;
        flex: 1;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        opacity: 0;
        object-fit: cover;
        animation: aaa 0.5s 1.7s linear forwards;
        .open_linshan {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 20px);
          top: 0;
          margin: 10px;
          display: flex;
          opacity: 0;
          flex-direction: column;
          justify-content: center;
          background: linear-gradient(
            to bottom,
            rgba(59, 175, 219, 0.5) 0%,
            rgba(54, 175, 101, 0.5) 100%
          );
          text-align: center;
          color: #fff;
          .linshan_title {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            &::after {
              content: "";
              width: 20px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: 10%;
              left: 48%;
            }
          }
          .number {
            width: 60px;
            margin: 20px auto 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          .txt {
            margin-top: 30px;
            letter-spacing: 2.5px;
            p {
              & + p {
                padding-top: 5px;
              }
            }
          }
          .more {
            position: absolute;
            bottom: 5%;
            left: 40%;
            span {
              padding-left: 10px;
            }
          }
        }
        &:hover {
          flex: 2.5;
          .open_linshan {
            opacity: 1;
            transition: all 0.5s 0.2s linear;
          }
          .img {
            position: relative;
            &::before {
              display: none;
            }
          }
        }
        .img {
          position: relative;
          &::before {
            content: "臨山";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            writing-mode: vertical-lr;
            color: #fff;
            font-weight: bolder;
            font-size: 18px;
          }
          img {
            height: 510px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
    }
  }
  .rooms_about {
    position: relative;
    bottom: 15%;
    margin-top: 50px;
    animation: ll 2s linear;
    &:hover {
      transition: 1s;
      button {
        color: #36af63;
        border-color: #36af63;
      }
      .arrow {
        background-color: #36af63;
        animation: aa 1s forwards;
        &::before {
          background-color: #36af63;
        }
      }
    }
    button {
      height: 40px;
      position: relative;
      padding: 10px;
      background-color: #fff;
      min-width: 165px;
      border: 1px solid #191919;
      border-radius: 50px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      color: #191919;
      cursor: pointer;
    }
    .arrow {
      width: 60px;
      height: 1px;
      background-color: #191919;
      position: absolute;
      right: -35px;
      top: 50%;
      &::before {
        content: "";
        width: 1px;
        height: 15px;
        position: absolute;
        right: 3px;
        bottom: -1px;
        background-color: #191919;
        transform: rotate(135deg);
      }
    }
  }
}

// Dining
.dining {
  padding: 50px 140px;
  display: flex;
  .wrap {
    width: 100%;
    max-width: 1540px;
    padding: 0 20px;
  }
  ul {
    display: flex;
    .slick-prev,
    .slick-next {
      display: flex;
      width: 65px;
      height: 65px;
      border: 1px solid rgba(48, 48, 48, 0.2);
      border-radius: 100%;
      cursor: pointer;
      color: #191919;
      pointer-events: fill;
      z-index: 2;
      &::before {
        color: #191919;
      }
      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          z-index: 1;
          display: block;
          width: calc(100% + 1px);
          height: calc(100% + 1px);
          border-top: 2px solid #353535;
          border-radius: 100%;
          animation: vv 1s infinite linear;
        }
      }
    }
    .slick-prev {
      right: 0;
      left: 93%;
      transform: rotate(90deg);
      &::before {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 40%;
        content: "<";
      }
    }
    .slick-next {
      transform: rotate(90deg);
      right: 2.5%;
      top: 58%;
      &::before {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 40%;
        content: ">";
      }
    }
    li {
      width: 100%;
      padding: 0 35px 50px 35px;
      .txt {
        padding-right: 30px;
        font-size: 24px;
      }
      .img {
        img {
          border-radius: 20px;
        }
        p {
          border-left: 1px solid #b2b2b2;
          margin-top: 30px;
          padding-left: 20px;
        }
        .team {
          display: flex;
          align-items: center;
          padding-top: 30px;
          .img {
            img {
              width: 35px;
              height: 17px;
            }
          }
          p {
            margin: 0 0 0 20px;
          }
        }
      }
    }
    .slick-slide {
      width: 600px;
      display: flex;
    }
    .slick-list {
      padding: 55px 20px 20px 35px;
      margin: 0;
      width: calc(100% - 300px);
      overflow: hidden;
    }
    .slick-track {
      animation: ll 1s linear;
      .slick-active {
        transition: 1s;
        transform: translateY(0);
      }
      .slick-current {
        transition: 1s;
        transform: translateY(10%);
      }
    }
  }
  .title {
    position: relative;
    right: 10%;
    display: flex;
    @keyframes bbb {
      from {
        opacity: 0;
        transform: translateX(30px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    animation: bbb 1s;
    p {
      margin-right: 25px;
      padding-bottom: 15px;
      font-weight: bolder;
      position: relative;
      display: inline-block;
      font-size: 20px;
      letter-spacing: 2px;
      color: #63bedf;
      &::before {
        content: "";
        height: 90px;
        width: 0px;
        display: flex;
        position: absolute;
        top: 10%;
        left: 50%;
        border: 1px solid #63bedf;
      }
    }
    h2 {
      font-size: 55px;
      letter-spacing: 5px;
      writing-mode: vertical-rl;
    }
    .dining_about {
      position: absolute;
      bottom: 0;
      right: 0;
      &:hover {
        transition: 1s;
        button {
          color: #36af63;
          border-color: #36af63;
        }
        .arrow {
          background-color: #36af63;
          @keyframes aa {
            from {
              right: -20%;
            }
            to {
              right: -33%;
            }
          }
          animation: aa 1s forwards;
          &::before {
            background-color: #36af63;
          }
        }
      }
      button {
        height: 40px;
        position: relative;
        padding: 10px;
        background-color: #fff;
        min-width: 165px;
        border: 1px solid #191919;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        color: #191919;
        cursor: pointer;
      }
      .arrow {
        width: 60px;
        height: 1px;
        background-color: #191919;
        position: absolute;
        right: -35px;
        top: 50%;
        &::before {
          content: "";
          width: 1px;
          height: 15px;
          position: absolute;
          right: 3px;
          bottom: -1px;
          background-color: #191919;
          transform: rotate(135deg);
        }
      }
    }
  }
}

// footer
.footer {
  padding: 85px 50px 50px 140px;
  .footer_box {
    width: 100%;
    width: 100%;
    padding: 103px 0 90px;
    padding-left: calc(20px + 5.7%);
    padding-right: 12%;
    position: relative;
    background: #bae1d0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    .wrap {
      width: 100%;
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      .go_top {
        position: absolute;
        top: -10%;
        right: 10%;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        opacity: 0;
        @keyframes ddd {
          from {
            opacity: 0;
            transform: translateY(-30px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        animation: ddd 0.5s 1.5s linear forwards;
        .line {
          width: 1px;
          height: 200px;
          background-color: rgba($color: #000000, $alpha: 0.5);
          overflow: hidden;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #000000;
            @keyframes bb {
              from {
                transform: translateY(100%);
              }
              to {
                transform: translateY(-100%);
              }
            }
            animation: bb 2s infinite linear;
          }
        }
        h2 {
          writing-mode: vertical-lr;
          font-size: 18px;
          letter-spacing: 2.5px;
          padding-left: 20px;
        }
        a {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
      .left_box {
        opacity: 0;
        .img {
          max-width: 259px;
          cursor: pointer;
          position: relative;
          a {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .title {
          font-size: 24px;
          padding-top: 36px;
          letter-spacing: 2.5px;
          h2 {
            font-weight: bolder;
          }
        }
        p {
          font-size: 14px;
          padding-top: 18px;
          color: #191919;
        }
        .txt {
          font-size: 12px;
          color: #191919;
          .writer {
            padding-top: 5px;
            display: flex;
            h3 {
              padding-right: 5px;
              cursor: pointer;
              &:hover {
                color: #63bedf;
              }
            }
            span {
              padding-left: 5px;
              cursor: pointer;
              &:hover {
                color: #63bedf;
              }
            }
          }
        }
        @keyframes ccc {
          from {
            opacity: 0;
            transform: translateX(-30px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
        animation: ccc 0.5s linear forwards;
      }
      .middle_box {
        padding: 0 20px 0 134px;
        animation: ccc 0.5s 0.5s linear forwards;
        .title {
          padding-bottom: 22px;
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 4px;
          color: #191919;
        }
        .address,
        .tel,
        .email {
          p {
            position: relative;
            cursor: pointer;
            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              display: block;
              width: 0;
              height: 1px;
              background: #191919;
              transition: all 0.5s linear;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
        .message {
          display: flex;
          padding: 6px 0;
          p {
            margin-left: 20px;
          }
          .img {
            i {
              width: 30px;
              height: 40px;
              padding-left: 10px;
              &:hover {
                cursor: pointer;
                transition: 0.5s;
                opacity: 0.5;
              }
            }
          }
        }
      }
      .right_box {
        animation: ccc 0.5s 1s linear forwards;
        .title {
          padding-bottom: 22px;
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 4px;
          color: #191919;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          max-width: 285px;
          width: 100%;
          li {
            padding-bottom: 25px;
            width: 50%;
            cursor: pointer;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              display: block;
              width: 0;
              height: 1px;
              background: #191919;
              transition: all 0.5s linear;
            }
            &:hover {
              &::after {
                width: 30%;
              }
            }
          }
        }
      }
    }
  }
}
