html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
}

.all_body {
  overflow: hidden;
}

.logo {
  width: 1200px;
  height: 220px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #dedede;
}
@media screen and (max-width: 1200px) {
  .logo {
    width: 100%;
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    height: auto;
    margin: 0;
    padding: 0 0 10px 30px;
    text-align: start;
  }
}
.logo a img {
  width: 130px;
  height: 160px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .logo a img {
    width: 30px;
    height: 40px;
  }
}
.logo .txt {
  padding-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .logo .txt {
    display: none;
  }
}
.logo .txt p {
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.logo .txt select {
  padding: 5px 0;
}
.logo .link {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .logo .link {
    display: none;
  }
}
.logo .link .website,
.logo .link .checkout {
  width: 96px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #97999b;
  color: #fff;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
}
.logo .link .website img,
.logo .link .checkout img {
  width: 18px;
  height: 20px;
  margin-right: 10px;
}
.logo .link .checkout {
  margin-left: 10px;
}
.logo .language {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo .language {
    width: 76px;
    height: 28px;
    margin: 30px 5px 5px 0;
    display: flex;
    position: absolute;
    right: 90px;
    bottom: 0;
  }
}
.logo .menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo .menu {
    width: 76px;
    height: 28px;
    margin: 30px 5px 5px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    background: url(../img/online/menu.jpg) center center;
    border: 1px solid #000000;
    font-size: 13px;
    line-height: 28px;
  }
}

.menu_item {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu_item.on {
    display: block;
  }
  .menu_item ul {
    animation: ii 0.5s;
  }
  @keyframes ii {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu_item ul li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
  }
  @keyframes aa {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .menu_item ul li .item_llst {
    padding: 10px 0;
    display: none;
  }
  .menu_item ul li .item_llst p {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: #97999b;
    animation: aa 0.5s forwards;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .menu_item ul li .item_llst p {
    animation: aaaa 0.5s forwards;
  }
}
@media screen and (max-width: 768px) {
  .menu_item ul li .item_llst p:hover {
    background-color: #a2d7f1;
  }
  .menu_item ul li:hover .item_llst {
    display: block;
  }
}

.menu_coin {
  width: 100%;
  display: flex;
}
.menu_coin a {
  width: 50%;
  margin: 0 5px;
  display: flex;
  background-color: #97999b;
}
.menu_coin .website_item,
.menu_coin .checkout_item {
  height: 60px;
  width: 49%;
  margin: 0 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  line-height: 50px;
  background-color: #97999b;
  border-radius: 0;
}
.menu_coin .website_item img,
.menu_coin .checkout_item img {
  width: 18px;
  height: 20px;
}
.menu_coin .website_item p,
.menu_coin .checkout_item p {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}
.menu_coin .website_item p {
  justify-content: start;
  position: relative;
  left: 80%;
}

.reservation_title {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.reservation_title ul {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reservation_title ul {
    display: none;
  }
}
.reservation_title ul li {
  height: 60px;
  padding: 10px 0;
  cursor: pointer;
}
.reservation_title ul li:hover .about_us,
.reservation_title ul li:hover .reservation_rooms,
.reservation_title ul li:hover .instruction_rooms,
.reservation_title ul li:hover .membership_us {
  display: flex;
}
.reservation_title ul li:hover .about_us a,
.reservation_title ul li:hover .reservation_rooms a,
.reservation_title ul li:hover .instruction_rooms a,
.reservation_title ul li:hover .membership_us a {
  height: 100%;
}
.reservation_title ul li:hover .about_us p,
.reservation_title ul li:hover .reservation_rooms p,
.reservation_title ul li:hover .instruction_rooms p,
.reservation_title ul li:hover .membership_us p {
  transition: 0.5s;
  font-size: 18px;
}
.reservation_title ul li:hover .about_us p:hover,
.reservation_title ul li:hover .reservation_rooms p:hover,
.reservation_title ul li:hover .instruction_rooms p:hover,
.reservation_title ul li:hover .membership_us p:hover {
  color: #000;
  background-color: #63bedf;
}
.reservation_title ul li + li {
  margin-left: 50px;
}
.reservation_title ul li h2 {
  font-size: 17px;
  font-weight: bolder;
}
.reservation_title ul li p {
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
}
.reservation_title ul .about_us {
  width: 100%;
  height: 70px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #97999b;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  animation: aa 0.5s;
}
@keyframes aa {
  from {
    height: 0px;
  }
  to {
    height: 70px;
  }
}
@media screen and (max-width: 768px) {
  .reservation_title ul .about_us {
    animation: aaaa 0.5s;
  }
}
.reservation_title ul .about_us p {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.reservation_title ul .reservation_rooms,
.reservation_title ul .instruction_rooms,
.reservation_title ul .membership_us {
  width: 100%;
  height: 70px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #97999b;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  animation: aa 0.5s;
}
.reservation_title ul .reservation_rooms p,
.reservation_title ul .instruction_rooms p,
.reservation_title ul .membership_us p {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.reservation_title ul .reservation_rooms p + p,
.reservation_title ul .instruction_rooms p + p,
.reservation_title ul .membership_us p + p {
  margin-left: 50px;
}
.reservation_title ul .reservation_rooms.on,
.reservation_title ul .instruction_rooms.on,
.reservation_title ul .membership_us.on {
  display: flex;
}

.reservation_box {
  width: 1200px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .reservation_box {
    width: auto;
    margin: 0;
    display: block;
  }
}
.reservation_box .reservation_left_box {
  padding-right: 100px;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_left_box {
    padding-right: 0;
  }
}
.reservation_box .reservation_left_box .reservation_left_box_title .title {
  margin: 80px 0 0 10px;
  font-size: 12px;
}
.reservation_box .reservation_left_box .reservation_item {
  width: 250px;
  padding: 10px 0 20px;
  margin-top: 20px;
  background-color: #97999b;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_left_box .reservation_item {
    transform: translateX(-100%);
    position: absolute;
    transition: all 0.5s;
  }
  .reservation_box .reservation_left_box .reservation_item:hover {
    transform: translateX(0);
  }
}
.reservation_box .reservation_left_box .reservation_item .generally_reserve,
.reservation_box .reservation_left_box .reservation_item .offer {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.reservation_box .reservation_left_box .reservation_item .generally_reserve,
.reservation_box .reservation_left_box .reservation_item .offer,
.reservation_box .reservation_left_box .reservation_item .in_rooms,
.reservation_box .reservation_left_box .reservation_item .reserve_rooms {
  padding-top: 30px;
  margin: 0 10px;
  text-align: center;
  border-bottom: 3px double #fff;
  color: #fff;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms {
  padding-left: 20px;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_title {
  padding-bottom: 20px;
  display: flex;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_title i {
  padding-right: 10px;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date {
  padding-bottom: 10px;
  display: flex;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date .in_rooms_years,
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date .in_rooms_month,
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date .in_rooms_day {
  display: flex;
}
.reservation_box .reservation_left_box .reservation_item .in_rooms .in_rooms_date span {
  padding: 0 5px;
}
.reservation_box .reservation_left_box .reserve_rooms {
  padding: 0 50px 10px 10px;
  display: flex;
}
.reservation_box .reservation_left_box .rooms_find {
  margin: 20px 10px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
  font-size: 18px;
}
.reservation_box .reservation_left_box .rooms_find h2 {
  font-weight: bolder;
}
.reservation_box .reservation_left_box .txt {
  width: 40px;
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 30%;
  right: -40px;
  border-radius: 0 10px 10px 0;
  background-color: #97999b;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_left_box .txt:hover .reservation_item {
    transform: translateX(0);
  }
}
.reservation_box .reservation_left_box .txt p {
  font-size: 24px;
  font-weight: bolder;
  writing-mode: vertical-lr;
}
.reservation_box .reservation_right_box {
  margin: 140px 0 0 100px;
}
@media screen and (max-width: 1200px) {
  .reservation_box .reservation_right_box {
    margin: 20px 0 0 30px;
  }
}
.reservation_box .reservation_right_box .reservation_right_item .title {
  color: #0b2657;
  font-size: 18px;
  font-weight: bolder;
}
.reservation_box .reservation_right_box .reservation_right_main {
  margin: 50px 0 0 30px;
  padding: 5px 0 0 10px;
  border-left: 5px solid #97999b;
}
.reservation_box .reservation_right_box .reservation_right_main p {
  font-weight: bolder;
}

.six_right_box {
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .six_right_box {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .six_right_box {
    margin-top: 0;
  }
}
.six_right_box .reservation_right_item .six_title {
  padding-top: 10px;
  margin-left: 40px;
  font-size: 17px;
  font-weight: bold;
  color: #191919;
}
.six_right_box .reservation_right_item .six_right_main {
  padding: 5px 0 0 10px;
  margin: 50px 0 0 30px;
}
@media screen and (max-width: 1200px) {
  .six_right_box .reservation_right_item .six_right_main {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .six_right_box .reservation_right_item .six_right_main .six_list {
    padding-right: 100px;
  }
}
.six_right_box .reservation_right_item .six_right_main .six_list .six_num {
  font-size: 16px;
  font-weight: bolder;
}
.six_right_box .reservation_right_item .six_right_main .six_list .six_num span {
  padding: 5px 5px 5px 20px;
  font-style: italic;
  font-weight: bolder;
  font-size: 22px;
}
.six_right_box .reservation_right_item .six_right_main .six_list .six_num img {
  width: 17px;
  height: 17px;
}
.six_right_box .reservation_right_item .six_right_main .six_list p {
  padding: 20px 0 0 50px;
  font-size: 14px;
  line-height: 35px;
}
.six_right_box .reservation_right_item .six_right_main .six_list .six_icon {
  padding: 0;
}
.six_right_box .reservation_right_item .six_right_main .six_list .six_icon .icon_title .title {
  font-weight: bolder;
}
.six_right_box .reservation_right_item .six_right_main .six_list .six_icon .icon_title p {
  padding: 50px 0 0 50px;
  font-weight: bolder;
}
.six_right_box .reservation_right_item .six_right_main .six_list .six_icon .icon_title .txt p {
  padding-top: 10px;
  font-weight: normal;
}
.six_right_box .reservation_right_item .six_right_main .six_list:last-child {
  padding-top: 50px;
}

.privacy_right_box {
  margin: 100px 0 0 20px;
}
@media screen and (max-width: 1200px) {
  .privacy_right_box {
    margin: 0;
  }
}
.privacy_right_box .privacy_title {
  padding-top: 20px;
  margin-left: 40px;
}
.privacy_right_box .privacy_title p {
  font-weight: bolder;
}
.privacy_right_box .privacy_txt {
  padding: 50px 200px 0 50px;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .privacy_right_box .privacy_txt {
    width: 100%;
    padding: 50px 100px 0 70px;
  }
}
.privacy_right_box .privacy_txt p {
  padding-bottom: 30px;
}
.privacy_right_box .privacy_txt .title {
  font-weight: bolder;
}

.SSL_right_box {
  margin: 100px 0 0 20px;
}
@media screen and (max-width: 1200px) {
  .SSL_right_box {
    margin: 0;
    padding: 0 100px 0 70px;
  }
}
@media screen and (max-width: 499px) {
  .SSL_right_box {
    padding: 0 20px;
  }
}
.SSL_right_box .SSL_title {
  padding: 20px 0 30px 0;
}
.SSL_right_box .SSL_title p {
  font-weight: bolder;
}
.SSL_right_box .SSL_main {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .SSL_right_box .SSL_main {
    width: 100%;
  }
}
.SSL_right_box .SSL_main .SSL_coin {
  display: flex;
  flex-direction: column;
}
.SSL_right_box .SSL_main .SSL_coin .SSL_img {
  width: 400px;
}
@media screen and (max-width: 468px) {
  .SSL_right_box .SSL_main .SSL_coin .SSL_img {
    width: 260px;
  }
}
.SSL_right_box .SSL_main .SSL_coin p {
  width: 100%;
  margin-right: 50px;
  font-size: 14px;
}
@media screen and (max-width: 570px) {
  .SSL_right_box .SSL_main .SSL_coin p {
    margin-right: 0;
  }
}
.SSL_right_box .SSL_main .SSL_coin p img {
  width: 400px;
  transform: translateY(-20px);
}
@media screen and (max-width: 768px) {
  .SSL_right_box .SSL_main .SSL_coin p img {
    width: 100%;
  }
}

.login_right_box {
  width: 100%;
  padding-top: 100px;
}
@media screen and (max-width: 1200px) {
  .login_right_box {
    margin-left: 0;
    padding: 0;
  }
}
.login_right_box .login_txt {
  padding: 20px 0 0 30px;
}
.login_right_box .login_txt .account,
.login_right_box .login_txt .password,
.login_right_box .login_txt .forget {
  display: flex;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .login_right_box .login_txt .account,
  .login_right_box .login_txt .password,
  .login_right_box .login_txt .forget {
    display: block;
  }
}
.login_right_box .login_txt .account p,
.login_right_box .login_txt .password p,
.login_right_box .login_txt .forget p {
  margin-bottom: 5px;
  padding-right: 70px;
}
.login_right_box .login_txt .account input,
.login_right_box .login_txt .password input,
.login_right_box .login_txt .forget input {
  width: 220px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #dedede;
}
.login_right_box .login_txt .account input:active,
.login_right_box .login_txt .password input:active,
.login_right_box .login_txt .forget input:active {
  border: 1px solid #000;
}
.login_right_box .login_txt .account,
.login_right_box .login_txt .password {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .login_right_box .login_txt .account,
  .login_right_box .login_txt .password {
    margin-right: 20px;
  }
}
.login_right_box .login_txt .account input,
.login_right_box .login_txt .password input {
  padding: 10px 0;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .login_right_box .login_txt .account input,
  .login_right_box .login_txt .password input {
    width: 100%;
  }
}
.login_right_box .login_txt .forget {
  width: 100%;
  margin: 20px auto;
  padding: 5px 5px;
  font-size: 12px;
  color: #97999b;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .login_right_box .login_txt .forget {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 599px) {
  .login_right_box .login_txt .forget {
    margin-left: 0;
  }
}
.login_right_box .login_txt .forget p {
  padding: 5px 5px;
  cursor: pointer;
}
.login_right_box .login_txt .forget .log_in {
  margin-left: 20px;
  padding: 10px 40px;
  background-color: #97999b;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .login_right_box .login_txt .forget .log_in {
    margin-left: 50px;
  }
}
@media screen and (max-width: 499px) {
  .login_right_box .login_txt .forget .log_in {
    margin-left: 60px;
  }
}
.login_right_box .login_txt .account {
  padding-bottom: 20px;
}
.login_right_box .join {
  padding-top: 20px;
}
.login_right_box .join .title p {
  padding-left: 30px;
}
.login_right_box .join .join_log {
  padding: 40px 0 20px 50px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 968px) {
  .login_right_box .join .join_log {
    justify-content: inherit;
  }
}
@media screen and (max-width: 499px) {
  .login_right_box .join .join_log {
    display: block;
  }
}
.login_right_box .join .join_log p {
  white-space: nowrap;
}
.login_right_box .join .join_log .join_log_in {
  width: 120px;
  padding: 10px 0;
  margin-left: 90px;
  text-align: center;
  color: #97999b;
  border: 1px solid #97999b;
  cursor: pointer;
  letter-spacing: 2px;
}
@media screen and (max-width: 499px) {
  .login_right_box .join .join_log .join_log_in {
    padding: 10px 30px;
    margin: 20px 0 0 0;
  }
}
.login_right_box .visitor_log {
  padding: 40px 0 40px 50px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 968px) {
  .login_right_box .visitor_log {
    justify-content: inherit;
  }
}
@media screen and (max-width: 499px) {
  .login_right_box .visitor_log {
    display: block;
  }
}
.login_right_box .visitor_log p {
  white-space: nowrap;
}
.login_right_box .visitor_log .visitor_log_in {
  width: 120px;
  padding: 10px 0;
  margin-left: 110px;
  text-align: center;
  letter-spacing: 2px;
  color: #97999b;
  border: 1px solid #97999b;
  cursor: pointer;
}
@media screen and (max-width: 499px) {
  .login_right_box .visitor_log .visitor_log_in {
    padding: 10px 30px;
    margin: 20px 0 0 0;
  }
}

.register_right_box {
  width: 800px;
  padding-top: 100px;
}
@media screen and (max-width: 1200px) {
  .register_right_box {
    margin-left: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .register_right_box {
    width: auto;
  }
}
.register_right_box .register_txt {
  width: 96%;
  padding: 80px 0 0 80px;
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt {
    padding: 50px 0 0 30px;
  }
}
.register_right_box .register_txt .account,
.register_right_box .register_txt .password,
.register_right_box .register_txt .password_confirm,
.register_right_box .register_txt .name,
.register_right_box .register_txt .address,
.register_right_box .register_txt .date,
.register_right_box .register_txt .gender,
.register_right_box .register_txt .tel,
.register_right_box .register_txt .photo,
.register_right_box .register_txt .fax,
.register_right_box .register_txt .company_name,
.register_right_box .register_txt .position,
.register_right_box .register_txt .compiled,
.register_right_box .register_txt .company_tel,
.register_right_box .register_txt .company_address,
.register_right_box .register_txt .remark {
  padding: 10px 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .account,
  .register_right_box .register_txt .password,
  .register_right_box .register_txt .password_confirm,
  .register_right_box .register_txt .name,
  .register_right_box .register_txt .address,
  .register_right_box .register_txt .date,
  .register_right_box .register_txt .gender,
  .register_right_box .register_txt .tel,
  .register_right_box .register_txt .photo,
  .register_right_box .register_txt .fax,
  .register_right_box .register_txt .company_name,
  .register_right_box .register_txt .position,
  .register_right_box .register_txt .compiled,
  .register_right_box .register_txt .company_tel,
  .register_right_box .register_txt .company_address,
  .register_right_box .register_txt .remark {
    display: block;
  }
}
.register_right_box .register_txt .account select,
.register_right_box .register_txt .password select,
.register_right_box .register_txt .password_confirm select,
.register_right_box .register_txt .name select,
.register_right_box .register_txt .address select,
.register_right_box .register_txt .date select,
.register_right_box .register_txt .gender select,
.register_right_box .register_txt .tel select,
.register_right_box .register_txt .photo select,
.register_right_box .register_txt .fax select,
.register_right_box .register_txt .company_name select,
.register_right_box .register_txt .position select,
.register_right_box .register_txt .compiled select,
.register_right_box .register_txt .company_tel select,
.register_right_box .register_txt .company_address select,
.register_right_box .register_txt .remark select {
  height: 27px;
  border: 1px solid #dedede;
}
.register_right_box .register_txt .account .date_day,
.register_right_box .register_txt .password .date_day,
.register_right_box .register_txt .password_confirm .date_day,
.register_right_box .register_txt .name .date_day,
.register_right_box .register_txt .address .date_day,
.register_right_box .register_txt .date .date_day,
.register_right_box .register_txt .gender .date_day,
.register_right_box .register_txt .tel .date_day,
.register_right_box .register_txt .photo .date_day,
.register_right_box .register_txt .fax .date_day,
.register_right_box .register_txt .company_name .date_day,
.register_right_box .register_txt .position .date_day,
.register_right_box .register_txt .compiled .date_day,
.register_right_box .register_txt .company_tel .date_day,
.register_right_box .register_txt .company_address .date_day,
.register_right_box .register_txt .remark .date_day {
  display: flex;
}
.register_right_box .register_txt .account p,
.register_right_box .register_txt .password p,
.register_right_box .register_txt .password_confirm p,
.register_right_box .register_txt .name p,
.register_right_box .register_txt .address p,
.register_right_box .register_txt .date p,
.register_right_box .register_txt .gender p,
.register_right_box .register_txt .tel p,
.register_right_box .register_txt .photo p,
.register_right_box .register_txt .fax p,
.register_right_box .register_txt .company_name p,
.register_right_box .register_txt .position p,
.register_right_box .register_txt .compiled p,
.register_right_box .register_txt .company_tel p,
.register_right_box .register_txt .company_address p,
.register_right_box .register_txt .remark p {
  width: 100px;
}
.register_right_box .register_txt .account p span,
.register_right_box .register_txt .password p span,
.register_right_box .register_txt .password_confirm p span,
.register_right_box .register_txt .name p span,
.register_right_box .register_txt .address p span,
.register_right_box .register_txt .date p span,
.register_right_box .register_txt .gender p span,
.register_right_box .register_txt .tel p span,
.register_right_box .register_txt .photo p span,
.register_right_box .register_txt .fax p span,
.register_right_box .register_txt .company_name p span,
.register_right_box .register_txt .position p span,
.register_right_box .register_txt .compiled p span,
.register_right_box .register_txt .company_tel p span,
.register_right_box .register_txt .company_address p span,
.register_right_box .register_txt .remark p span {
  padding-left: 5px;
  color: #b20000;
}
.register_right_box .register_txt .account input,
.register_right_box .register_txt .password input,
.register_right_box .register_txt .password_confirm input,
.register_right_box .register_txt .name input,
.register_right_box .register_txt .address input,
.register_right_box .register_txt .date input,
.register_right_box .register_txt .gender input,
.register_right_box .register_txt .tel input,
.register_right_box .register_txt .photo input,
.register_right_box .register_txt .fax input,
.register_right_box .register_txt .company_name input,
.register_right_box .register_txt .position input,
.register_right_box .register_txt .compiled input,
.register_right_box .register_txt .company_tel input,
.register_right_box .register_txt .company_address input,
.register_right_box .register_txt .remark input {
  padding: 5px 10px;
  border: 1px solid #dedede;
}
.register_right_box .register_txt .address select {
  width: 80px;
}
.register_right_box .register_txt .address span {
  padding: 5px 10px;
}
.register_right_box .register_txt .address input {
  margin-left: 10px;
}
.register_right_box .register_txt .address .town {
  margin-left: 20px;
}
.register_right_box .register_txt .gender p,
.register_right_box .register_txt .email p {
  width: 100px;
}
.register_right_box .register_txt .email_box,
.register_right_box .register_txt .email_message {
  display: flex;
}
.register_right_box .register_txt .email_box input,
.register_right_box .register_txt .email_message input {
  border: 1px solid #dedede;
}
.register_right_box .register_txt .email_box h3,
.register_right_box .register_txt .email_message h3 {
  font-size: 12px;
}
.register_right_box .register_txt .email_message {
  padding: 10px 0 0 100px;
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .email_message {
    padding-left: 0;
  }
}
.register_right_box .register_txt .date input {
  width: 80px;
}
.register_right_box .register_txt .date h2 {
  padding: 5px 10px;
}
.register_right_box .register_txt .tel input {
  margin-right: 10px;
}
.register_right_box .register_txt .email input {
  padding: 5px 10px;
}
.register_right_box .register_txt .email .email_checkbox {
  width: 220px;
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .email .email_checkbox {
    width: 100%;
  }
}
.register_right_box .register_txt .email p {
  padding-top: 5px;
}
.register_right_box .register_txt .email p span {
  color: #b20000;
}
.register_right_box .register_txt .remark p {
  width: 100px;
  margin-bottom: 5px;
  vertical-align: text-top;
}
.register_right_box .register_txt .remark textarea {
  width: 100%;
  height: 160px;
  border: 1px solid #dedede;
}
.register_right_box .register_txt .join_member {
  width: 100%;
  padding-top: 50px;
  white-space: nowrap;
  display: flex;
  justify-content: end;
}
.register_right_box .register_txt .join_member p {
  padding: 8px 30px;
  letter-spacing: 2px;
  font-size: 14px;
  background-color: #97999b;
  color: #fff;
}
.register_right_box .register_txt .account input,
.register_right_box .register_txt .password input,
.register_right_box .register_txt .password_confirm input,
.register_right_box .register_txt .name input,
.register_right_box .register_txt .photo input,
.register_right_box .register_txt .fax input,
.register_right_box .register_txt .company_name input,
.register_right_box .register_txt .position input,
.register_right_box .register_txt .compiled input,
.register_right_box .register_txt .company_tel input,
.register_right_box .register_txt .company_address input {
  width: 220px;
  padding: 5px 10px;
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .account input,
  .register_right_box .register_txt .password input,
  .register_right_box .register_txt .password_confirm input,
  .register_right_box .register_txt .name input,
  .register_right_box .register_txt .photo input,
  .register_right_box .register_txt .fax input,
  .register_right_box .register_txt .company_name input,
  .register_right_box .register_txt .position input,
  .register_right_box .register_txt .compiled input,
  .register_right_box .register_txt .company_tel input,
  .register_right_box .register_txt .company_address input {
    width: 70%;
    margin: 10px 20px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .email_box {
    display: block;
  }
  .register_right_box .register_txt .email_box input {
    width: 220px;
    margin-top: 10px;
    padding: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .tel input {
    width: 100%;
    padding: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .tel .tel_box {
    width: 100%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .tel_phone {
    margin-top: 8px;
  }
}
.register_right_box .register_txt .tel_phone input {
  width: 80px;
}
@media screen and (max-width: 768px) {
  .register_right_box .register_txt .account input,
  .register_right_box .register_txt .password input,
  .register_right_box .register_txt .password_confirm input,
  .register_right_box .register_txt .name input,
  .register_right_box .register_txt .photo input,
  .register_right_box .register_txt .fax input,
  .register_right_box .register_txt .company_name input,
  .register_right_box .register_txt .position input,
  .register_right_box .register_txt .compiled input,
  .register_right_box .register_txt .company_tel input,
  .register_right_box .register_txt .company_address input {
    width: 100%;
    border-radius: 5px;
  }
}

.footer {
  margin: 0 auto;
  padding-bottom: 20px;
  background: #eeeeee;
  border-bottom: 10px solid #1a1a1a;
  display: flex;
  position: relative;
}
.footer .title {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer .title {
    margin: 0 10px;
  }
}
.footer .title .txt h2 {
  padding: 10px 0;
  font-weight: bolder;
}
.footer .title .txt p {
  font-size: 12px;
}
.footer .title .foot {
  display: flex;
  align-items: center;
}

.go_top {
  margin-top: 5px;
  padding: 10px 0;
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;
}
.go_top.on {
  display: block;
}

.safe_ad {
  width: 30%;
  height: 60%;
  padding: 5px;
  margin: 0 0 0 -35%;
  position: fixed;
  top: 20%;
  left: 70%;
  background-color: #fff;
  text-align: center;
  z-index: 2;
  display: block;
}
@media screen and (max-width: 1024px) {
  .safe_ad {
    width: 70%;
    height: 92%;
    margin: 0 auto;
    top: 2%;
    left: 15%;
  }
}
.safe_ad.on {
  display: block;
}
.safe_ad .safe_title {
  padding-top: 20px;
}
.safe_ad .safe_title p {
  font-weight: bolder;
  font-size: 28px;
}
.safe_ad .remind {
  padding: 0px 10%;
  margin: 20px 0px;
  overflow-y: auto;
  display: flex;
  color: red;
}
.safe_ad .remind p {
  font-size: 21px;
  font-weight: bolder;
  text-align: left;
}
.safe_ad .safe_main {
  padding: 0px 10%;
  margin: 20px 0px;
  text-align: left;
}
.safe_ad .safe_main p {
  font-size: 14px;
}
.safe_ad .safe_main a {
  color: blue;
}
.safe_ad .safe_ad_main {
  width: 100%;
  height: 100%;
  position: relative;
}
.safe_ad .safe_close {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  top: -18px;
  right: -18px;
  z-index: 2;
  cursor: pointer;
}

.safe_back {
  width: 100%;
  height: 200vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}
.safe_back.on {
  display: block;
}/*# sourceMappingURL=reservation.css.map */