html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

.rooms_bg {
  padding-left: 140px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1180px) {
  .rooms_bg {
    padding-left: 0;
    margin-top: 80px;
  }
}
.rooms_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.2;
}
.rooms_bg .rooms_bg_img {
  height: 640px;
}
.rooms_bg .rooms_bg_img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms_bg .title {
  position: absolute;
  top: 30%;
  left: 45%;
  writing-mode: vertical-lr;
  color: #fff;
}
.rooms_bg .title h2 {
  font-size: 20px;
  position: relative;
}
.rooms_bg .title h2::after {
  content: "";
  height: 100px;
  width: 1px;
  margin-top: 20px;
  background-color: #fff;
  position: absolute;
  left: 50%;
}
.rooms_bg .title h1 {
  font-size: 55px;
}
.rooms_bg .txt {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  right: 2%;
  color: #fff;
}
@media screen and (max-width: 840px) {
  .rooms_bg .txt {
    display: none;
  }
}
.rooms_bg .txt a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rooms_bg .txt a:hover {
  transition: 0.5s;
  color: #63bedf;
}
.rooms_bg .txt p {
  padding-top: 10px;
  writing-mode: vertical-lr;
}
.rooms_bg .txt span {
  margin-top: 30px;
  writing-mode: vertical-lr;
  position: relative;
}
.rooms_bg .txt span::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -17px;
  left: 10px;
  border-radius: 100%;
  background: #fff;
  z-index: 1;
}

.rooms_item {
  padding: 30px 0 0 140px;
}
@media screen and (max-width: 1180px) {
  .rooms_item {
    padding-left: 0;
  }
}
.rooms_item .wrap {
  width: 100%;
  max-width: 1540px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .rooms_item .wrap {
    padding: 0;
  }
}
.rooms_item .wrap .rooms_list {
  width: 50%;
  padding: 0 15px 50px;
}
@media screen and (max-width: 960px) {
  .rooms_item .wrap .rooms_list {
    width: 100%;
  }
}
.rooms_item .wrap .rooms_list .rooms_img {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.rooms_item .wrap .rooms_list .rooms_img::before {
  content: "Details";
  padding: 10px 20px;
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  border: 1px solid #fff;
  color: #fff;
  z-index: 2;
}
@media screen and (max-width: 1400px) {
  .rooms_item .wrap .rooms_list .rooms_img::before {
    left: 40%;
  }
}
.rooms_item .wrap .rooms_list .rooms_img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  display: none;
}
.rooms_item .wrap .rooms_list .rooms_img:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.rooms_item .wrap .rooms_list .rooms_img:hover::before {
  display: block;
  animation: ba 0.5s forwards;
}
@keyframes ba {
  from {
    top: 30%;
  }
  to {
    top: 45%;
  }
}
.rooms_item .wrap .rooms_list .rooms_img:hover::after {
  display: block;
}
.rooms_item .wrap .rooms_list .txt {
  padding-top: 30px;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
}
.rooms_item .wrap .rooms_list .txt p {
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.rooms_item .wrap .rooms_list .txt p:hover {
  color: #63bedf;
  transition: 0.5s;
}
.rooms_item .wrap .rooms_list .txt p::before {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 48%;
  background-color: #c8c8c8;
}
.rooms_item .wrap .rooms_list .txt span {
  padding: 0 10px;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 3px;
  color: #404040;
  position: relative;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
.rooms_item .wrap .rooms_list .txt h4 {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 3px;
  color: #404040;
}
.rooms_item .wrap .rooms_list .txt .room_content {
  margin-top: 20px;
}

.line {
  width: 80%;
  height: 1px;
  margin: 0 160px;
  background-color: #404040;
  opacity: 0.2;
}

.page_list_tag {
  margin: 0 140px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.page_list_tag a {
  width: 32px;
  height: 30px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  color: #666;
  border: 1px solid #c8c8c8;
  cursor: pointer;
}
.page_list_tag a + a {
  margin-left: 10px;
}
.page_list_tag a:hover {
  border: 1px solid #63bedf;
  background-color: #63bedf;
  color: #fff;
  transition: 0.5s;
}
.page_list_tag a.is_active {
  background-color: #36af63;
  border: 1px solid #36af63;
  color: #fff;
}
.page_list_tag a.is_active:hover {
  background-color: #36af63;
  border: 1px solid #36af63;
}/*# sourceMappingURL=rooms.css.map */