<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../style/footer.css" />
</head>

<body>
    <!-- footer -->
    <div class="footer" id="footer">
        <div class="footer_box">
            <div class="wrap">
                <div class="go_top on">
                    <div class="to_top_line"></div>
                    <h2>PAGE TOP</h2>
                    <a href="#"></a>
                </div>
                <div class="left_box on">
                    <div class="left_box_img">
                        <a href="/"> <img src="../../img/logo_m.png" alt="" /></a>
                    </div>
                    <div class="title">
                        <h2>舞牛森度假飯店</h2>
                    </div>
                    <p>苗栗縣旅館090號</p>
                    <div class="txt">
                        <p>Copyright © 2024 舞牛森度假飯店 All Rights Reserved.</p>
                        <div class="writer">
                            <h3>Design</h3>
                            by <span>iBest</span>
                        </div>
                    </div>
                </div>
                <div class="middle_box on">
                    <div class="title">CONTACT</div>
                    <ul>
                        <li class="message address">
                            <h2>ADD.</h2>
                            <p>苗栗縣通霄鎮南和里165-5號</p>
                        </li>
                        <li class="message tel">
                            <h2>TEL.</h2>
                            <p>037-783-899</p>
                        </li>
                        <li class="message">
                            <h2>FAX.</h2>
                            <p>037-783-288</p>
                        </li>
                        <li class="message email">
                            <h2>EMAIL.</h2>
                            <p>service@woodland.com.tw</p>
                        </li>
                        <li class="message">
                            <h2>SNS.</h2>
                            <div class="middle_box_img">
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa-brands fa-line"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right_box on">
                    <div class="title">SITE CONTENTS</div>
                    <ul>
                        <a href="../../page/introduction.html">
                            <li>飯店簡介</li>
                        </a>
                        <a href="../../page/servers.html">
                            <li>服務設施</li>
                        </a>
                        <a href="../../page/rooms.html">
                            <li>客房介紹</li>
                        </a>
                        <a href="../../page/location.html">
                            <li>交通位置</li>
                        </a>
                        <a href="../../page/latest.html">
                            <li>新訊與活動</li>
                        </a>
                        <a href="../../page/contact.html">
                            <li>聯絡我們</li>
                        </a>
                    </ul>
                    <div class="txt">
                        <p>Copyright © 2024 舞牛森度假飯店 All Rights Reserved.</p>
                        <div class="writer">
                            <h3>Design</h3>
                            by <span>iBest</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>