<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../style/header.css" />
  </head>

  <body>
    <div class="header on">
      <div class="hd_img">
        <a href="/"> <img src="../../img/logo.png" alt="" /></a>
      </div>
      <div class="burger" id="burger">
        <div class="menu">
          <p>MENU</p>
        </div>
      </div>
      <div class="header_box">
        <div class="language_box">
          <div class="language_txt">
            <h2>Language</h2>
            <p>></p>
          </div>

          <ul class="language_list">
            <li>繁</li>
            <li>EN</li>
          </ul>
        </div>
        <a href="../page/contact.html">
          <div class="message_box">
            <img class="message_img" src="../../img/mail.png" alt="" />
            <h2>聯絡我們</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="header_m">
      <div class="hd_m_img">
        <a href="/"> <img src="../../img/logo_m.png" alt="" /></a>
      </div>
      <div class="burger">
        <div class="menu">
          <p>MENU</p>
        </div>
      </div>
    </div>
    <div class="menu_black"></div>
    <div class="m_bg">
      <div class="menu_bg">
        <div class="wrap">
          <div class="menu_box">
            <div class="language_box">
              <div class="language_txt">
                <h2>Language</h2>
                <p>></p>
              </div>
              <ul class="language_list">
                <li>繁</li>
                <li>EN</li>
              </ul>
            </div>
            <a href="../page/contact.html">
              <div class="message_box">
                <img class="message_img" src="../../img/mail.png" alt="" />
                <h2>聯絡我們</h2>
              </div>
            </a>
          </div>
          <div class="menu_bg_list">
            <ul class="menu_item">
              <li>
                <a href="../../page/introduction.html">
                  <h2>Hotel Introduction</h2>
                  <p>飯店簡介</p>
                </a>
              </li>
              <li>
                <a href="../../page/servers.html">
                  <h2>Service Facilities</h2>
                  <p>服務設施</p>
                </a>
              </li>
              <li>
                <a href="../../page/rooms.html">
                  <h2>Room Introduction</h2>
                  <p>客房介紹</p>
                </a>
              </li>
              <li>
                <a href="../../page/location.html">
                  <h2>Traffic Location</h2>
                  <p>交通位置</p>
                </a>
              </li>
              <li>
                <a href="../../page/latest.html">
                  <h2>News and Events</h2>
                  <p>新訊與活動</p>
                </a>
              </li>
              <li>
                <a href="../../page/contact.html">
                  <h2>Contact us</h2>
                  <p>聯絡我們</p>
                </a>
              </li>
            </ul>
            <div class="top_box">
              <div class="top_menu">
                <div class="message address">
                  <h2>ADD.</h2>
                  <p>苗栗縣通霄鎮南和里165-5號</p>
                </div>
                <div class="message tel">
                  <h2>TEL.</h2>
                  <p>037-783-899</p>
                </div>
                <div class="message">
                  <h2>FAX.</h2>
                  <p>037-783-288</p>
                </div>
                <div class="message email">
                  <h2>EMAIL.</h2>
                  <p>service@woodland.com.tw</p>
                </div>
              </div>
              <div class="message menu_link">
                <div class="menu_link_img">
                  <i class="fa fa-facebook-square"></i>
                  <i class="fa fa-instagram"></i>
                  <i class="fa-brands fa-line"></i>
                </div>
              </div>
              <div class="message menu_footer">
                <p>Copyright © 2024 舞牛森度假飯店 All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  $(function () {
    $(".burger").on("click", function () {
      $(".menu").toggleClass("on");
      $(".menu_bg").toggleClass("on");
      $(".header").toggleClass("on");
      $(".menu_black").toggleClass("on");
      $(".menu_item").toggleClass("on");
      $(".top_menu").toggleClass("on");
      $(".menu_link").toggleClass("on");
      $(".menu_footer").toggleClass("on");
      $(".header_m").toggleClass("off");
      $(".m_bg").toggleClass("on");
    });
    $(".language_box").on("click", function () {
      $(".language_list").toggleClass("on");
    });
    $(".burger").on("click", function () {
      $(".header_m").toggleClass("on");
    });

    $(window).scroll(showMenu);

    // function showMenu() {
    //   if ($(window).scrollTop() > 200) {
    //     $(".header_m").addClass("on");
    //   } else {
    //     $(".header_m").removeClass("on");
    //   }
    // }
  });
</script>
